﻿.kpi {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

    .td_main{
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .scrollarea-content{
    min-width: 100%;
    //padding-bottom: 50px;
  }
  .ant-table {
    border-radius: 0;

    table {
      border-radius: 0;
    }
  }
  .ant-tabs {
    height: 100%;
    .ant-tabs-bar {
      margin-bottom: 0;
      .ant-tabs-nav-container {
        line-height: 2.5;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .ant-tabs-nav-wrap{
          margin-bottom: 0;
          .ant-tabs-nav {
            height: 50px;
            padding: 9px;
            .ant-tabs-tab{
              padding: 0 8px;
            }
            .ant-tabs-tab-active{
              background: #f2f2f2;
              border-radius: 4px;
            }
            .ant-tabs-ink-bar{
              display: none !important;
            }
          }
        }
      }
    }
    .ant-tabs-content {
      height: -moz-calc(100% - 52px);
      height: -webkit-calc(100% - 52px);
      height: calc(100% - 52px);
      .data {
        background-color: #e7e7e7;
        height: 100%;
        padding: 10px 10px;
        overflow-y: scroll;
        table{
          table-layout: fixed;
        }
        .nodata {
          width: 100%;
          height: 100%;
          background: #fff;
          position: relative;
          img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -300px;
            margin-top: -200px;
          }
          //background: #fff url('/src/public/images/nodata.png') center no-repeat;
        }
        .data_main {
          //padding: 10px 4px 10px 12px;
          //-webkit-column-count: 2;
          //-moz-column-count: 2;
          //column-count: 2;
          //-moz-column-gap: 0px;
          //-webkit-column-gap: 0px;
          //column-gap: 0px;
          .leftReportList,.rightReportList{
            width: calc(50% - 8px);
              .backgroundBox {
                  margin: 10px 0 0 0;
              }
          }
          .ant-table-content{
            overflow-y: auto;
          }
        }
      }
      .data::-webkit-scrollbar
      {
        width: 8px;
        height: 8px;
      }

      .data::-webkit-scrollbar-track
      {
        background-color: transparent;
      }

      .data::-webkit-scrollbar-thumb
      {
        background-color: rgba(85,85,85,0.1);
        border-radius: 4px;
      }

      .data div.box {
        box-sizing: border-box;
        margin: 0px 7px 14px;
        height: -moz-calc(50% - 14px);
        height: -webkit-calc(50% - 14px);
        height: calc(50% - 14px);
        border-radius: 8px;
        background: #fff;
        position: relative;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        overflow: hidden;
        .icon {
          cursor: pointer;
          display: inline-block;
          font-weight: normal;
          float: right;
          margin-left: 10px;
          color: #dcdcdc;
          font-size: 20px;
          line-height: 45px;
        }
        .ant-spin-spinning{
          position: absolute;
          right: 50%;
          bottom: 50%;
          margin-right: -10px;
          margin-bottom: -30px;
        }
        .ant-table-body::-webkit-scrollbar
        {
          width: 8px;
          height: 8px;
        }

        .ant-table-body::-webkit-scrollbar-thumb
        {
          background-color: #bdbdbd;
          border-radius: 4px;
        }

        .ant-table-header::-webkit-scrollbar
        {
          width: 8px;
          height: 8px;
        }

        .ant-table-header::-webkit-scrollbar-track
        {
          background-color: #fff;
          border-left: 2px solid #e5e5e5;
        }

        .ant-table-header::-webkit-scrollbar-thumb
        {
          background-color: #bdbdbd;
          border-radius: 4px;
        }

        .ant-table-header{
          margin-bottom: -5px !important;
        }

        .ant-table-thead {
          th:first-child{
            span{
              position: relative;
              top: 2px;
            }
          }
          tr > th {
            background: #fff;
            span {
              display: inline-block;
              //width: 100%;
              box-sizing: border-box;
              border-bottom: 2px solid #f1f1f1;
              color: #9ab0c4;
            }
          }
        }

        .ant-table-tbody {
          tr {
            td {
              border-bottom: none;
              height: 38px;
              color: #9ab0c4;
            }
          }
          tr:nth-of-type(even){
            background: #f4f7fc;
          }
        }
      }
      .data div.box > span {
        display: block;
        font-weight: bold;
        border-bottom: 1px solid rgb(231, 234, 238);
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        color: #343434;
      }
      .report {
        position: relative;
        .chart {
          background-color: rgb(231, 231, 231);
          .little {
            margin-bottom: 14px;
          }
        }
        .chart > div {
          width: 100%;
          margin: 0;
          border-radius: 5px;
          background: #fff;
          height: -moz-calc(50% - 7px);
          height: -webkit-calc(50% - 7px);
          height: calc(50% - 7px);
          position: relative;
          i {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 15px;
            color: #dcdcdc;
            line-height: 45px;
            font-size: 20px;
          }
          span {
            display: block;
            border-bottom: 1px solid rgb(231, 234, 238);
            font-size: 14px;
            height: 45px;
            line-height: 45px;
            padding: 0 15px;

          }
        }

      }
      .data {
        padding: 0;
        .main {
          width: 100%;
          height: 100%;
          border-top: 10px solid #e7e7e7;
          border-radius: 0;
          background: #fff;
          //padding: 0 10px;
          .tabTitle {
            line-height: 52px;
            padding-left: 20px;
            padding-right: 7px;
            font-size: 14px;
            color: #666;
            .ant-breadcrumb {
              font-size: 14px;
              line-height: 2.5;
              color: #666666;
              display: inline-block;
              padding-left: 0;
            }
            .ant-btn {
              float: right;
              margin: 10px 6px;
              .icon {
                padding-left: 6px;
                font-size: 14px;
              }
            }
          }
          .ant-table {
            width: 100%;
          }
          .ant-table-wrapper{
            margin: 0 10px;
          }
        }
      }
      .attention {

      }
      .weekly {
        overflow: hidden;
        position: relative;
        .noData{
          top: 10px;
        }
        .tabTitle {
          .tabRight {
            float: right;
          }
        }

      }
      .customerService{
        overflow: hidden;
        position: relative;
        .noData{
          top: 10px;
        }
      }
      .ant-table-wrapper {
        position: relative;
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
          height: 48px;
          box-sizing: border-box;
          padding: 6px 8px;
        }

        .ant-pagination-total-text {
          position: absolute;
          left: 8px;
        }
      }
    }
  }
  .topRight {
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 18px;
    z-index: 10;
    .ant-select{
      .ant-select-selection--single{
        height: 28px;
        .ant-select-selection__rendered{
          line-height: 26px;
          margin: 0 18px;
          .ant-select-selection-selected-value{
            line-height: 26px;
          }
        }
      }
    }
    .ant-calendar-picker {
      margin: 0 10px;
      .ant-calendar-range-picker-separator{
        width: 14px;
        text-align: center;
      }
      .ant-input {
        padding-right: 0;
        .ant-calendar-picker-icon{
          width: 12px;
          height: 12px;
        }
        //.ant-calendar-picker-icon:after{
        //  content:"\E66F"
        //}
      }
    }
    .ant-btn-circle{
      width: 18px;
      height: 18px;
      line-height: 16px;
      border: none;
    }
    .icon {
      font-size: 20px;
      color: #1689e7;
    }

  }
  .screen {
      position:relative;
    .mask {
      position: fixed;
      overflow: auto;
      top: 110px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background-color: rgba(55, 55, 55, .6);
    }
    .content {
      background-color: #fff;
      width: 652px;
      height: 840px;
      position: absolute;
      z-index: 99;
      max-height: calc(100% - 110px);
      top: -9px;
      right: -652px;
      padding-top: 28px;
      padding-left: 15px;
      animation: showScreen .3s forwards;
      -moz-animation: showScreen .3s forwards; /* Firefox */
      -webkit-animation: showScreen .3s forwards; /* Safari and Chrome */
      -o-animation: showScreen .3s forwards; /* Opera */
      .ant-radio-group {
        display: block;
        position: relative;
        margin-left: 21px;

      }
      circle{
        fill: #5ab0f6;
      }
      .ant-radio-button-wrapper {
        background: #5ab0f6;
        color: #fff;
      }
      .main {
        margin-left: 42px;
        border-left: 1px #e3e3e3 dashed;
        padding-bottom: 22px;
        padding-top: 20px;
        margin-bottom: 40px;
        position: relative;
        .ant-form {
          margin-bottom: 20px;
          line-height: 26px;
          .queueList-border {
            display: inline-block;
            width: 21px;
            height: 1px;
            border-bottom: 1px #e3e3e3 dashed;
            position: relative;
          }

          .ant-radio-button-wrapper:not(:first-child)::before{
            width: 0;
          }
          .icon {
            color: #eb4f38;
            cursor: pointer;
          }
          .ant-select-search__field__placeholder {
            padding-left: 5px;
          }
        }
        .value {
          .ant-select-lg {
            margin-right: 10px;
          }
          //.ant-calendar-picker, .ant-select {
          //  width: 517px;
          //  margin-right: 10px;
          //}
        }
        .add {
          position: absolute;
          bottom: -20px;
          left: -10px;
          color: #666;
          .icon {
            cursor: pointer;
            display: inline-block;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            border: 1px solid #666;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
      .footer {
        position: inherit;
        bottom: 0;
          padding: 10px 0;
        width: 97%;
        .ant-btn {
          float: right;
          margin-right: 12px;
        }
      }
    }
    .ant-radio-button-wrapper {
      height: 29px;
      width: 42px;
      padding: 0;
      text-align: center;
      border: none;
      background: #f2f2f1;
      color: #323231;
      line-height: 29px;
    }
    .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
      background: #5ab0f6;
      color: #fff;
    }
  }
}

.selectDate{
  .ant-select-dropdown-menu-item-disabled{
    display: none;
  }
  .ant-select-dropdown-menu{
    max-height: 256px;
    .ant-select-dropdown-menu-item{
      padding: 7px 18px;
    }
  }
}

.custom {
  height: 80px;
  p {
    line-height: 40px;
  }
}

.compile {
  font-size: 14px;
  cursor: pointer;
}

//.ant-calendar-picker-container{
//  z-index: 10000;
//}

@keyframes showScreen {
  from {
    right: -652px;
  }
  to {
    right: 0;
  }
}

@-moz-keyframes showScreen {
  from {
    right: -652px;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes showScreen {
  from {
    right: -652px;
  }
  to {
    right: 0;
  }
}

@-o-keyframes showScreen {
  from {
    right: -652px;
  }
  to {
    right: 0;
  }
}
