.ntDragViewWrapper{
    position: absolute;
    z-index: 99;
    .icon-009cuowu{
        position: absolute;
        top: 4px;
        right: 10px;
        cursor: pointer;
        z-index: 1000;
        font-size: 27px;
        color: #fff;
    }
}
