.recordDetailHead{
    color: black;
    font-size: 16px;
    .backContainer{
        padding: 0 0.14rem;
        color : #616161;
        cursor: pointer;
        font-size: 14px;
        height: 0.32rem;
        line-height: 0.32rem;
    }
    .AvatarAndSelected{
        height: 0.377rem;
        padding: 0.036rem 0.14rem;
        border-bottom: 1px solid #ccc;
        position : relative;
        .ASLeft{
            float: left;
            width: 100%;
            .theImg{
                width: 40px;
                height: 40px;
                border-radius: 30px;
            }
            .constuom{
                width: calc(100% - 50px);
                position: absolute;
                font-size: 16px;
                top : 50%;
                transform: translateY(-50%);
                margin-left: 0.31rem;
                color : #616161;
            }
        }
        .ASRight{
            float: right;
            position: absolute;
            top : 50%;
            right : 20px;
            font-size: 22px;
            transform: translateY(-50%);
            .theIcon{
                margin-right: 10px;
            }
            .dropdown{
                position: relative;
                bottom : 2px;
                width: 30px;
            }
        }
    }
}

@mixin clear-float{
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.AvatarAndSelected:after{
    @include clear-float;
}
