.theSeacherbarContainer{
    position: relative;
    padding: 17px 0 23px 46px;
    .left{
        float: left;
        .serchBarContainer{
            padding-left: 20px;
        }
    }
    .right {
        float: right;
        padding-right: 20px;
        cursor: pointer;
    }
    .floatStyle {
        float: left;
        input{
            width: 266px;
            height: 30px;
            padding-left: 15px;
        }
    }
}

.theSeacherbarContainer:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
}

