.userNameAndTimeInRecord{
    color : red;
    padding-top: 30px;
    .userName{
        float: left;
        font-size: 15px;
    }
    .time{
        float: right;
    }
}

@mixin clear-float{
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.userNameAndTimeInRecord:after{
    @include clear-float;
}
