.videoWrap, .videoModalWrap {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    >div{
        height: 100%;
    }
    .iconfont{
        position: absolute;
        color: #fff;
        right: 2px;
        bottom: 1px;
        opacity: 0;
        font-weight: bold;
    }
    &:hover{
        .iconfont{
            opacity: 1;
            transition: opacity 0.2s;
        }
        .rh5v-DefaultPlayer_controls{
            opacity: 1!important;
        }
    }
    .rh5v-Overlay_component{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #fff;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        .rh5v-Overlay_inner{
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 0;
            left: 50%;
            width: 40px;
            height: 40px;
            transform: translateY(-50%);
            margin-left: -20px;
            background-color: rgba(0,0,0,0.7);
            border-radius: 50%;
            .rh5v-Overlay_icon{
                position: absolute;
                top: 50%;
                right: 0;
                left: 50%;
                margin-left: -20px;
                transform: translateY(-50%);
                padding: 4px;
            }
        }
    }
    .rh5v-DefaultPlayer_component{
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: #000;
        .rh5v-DefaultPlayer_controls{
            width: 100%;
            height: 30px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            background-color: rgba(0,0,0,0.7);
            opacity: 0;
            transition: opacity 0.2s;
            .rh5v-PlayPause_component{
                width: 30px;
                height: 30px;
                display: inline-block;
                .rh5v-PlayPause_button{
                    width: 30px;
                    height: 30px;
                    background: none;
                    border: 0;
                    color: inherit;
                    font: inherit;
                    line-height: normal;
                    overflow: visible;
                    padding: 0;
                    cursor: pointer;
                    .rh5v-PlayPause_icon{
                        margin-top: 5px;
                    }
                }
                .rh5v-PlayPause_button:focus {
                    outline: 0;
                }
            }
            .rh5v-Seek_component{
                width: 100%;
                height: 3px;
                position: absolute;
                top: 0;
                left: 0;
                .rh5v-Seek_buffer{
                    height: 3px;
                    position: absolute;
                    top: 0;
                    background: #928e8b;
                }
                .rh5v-Seek_fill{
                    height: 3px;
                    position: absolute;
                    top: 0;
                }
                .rh5v-Seek_input {
                    height: 3px;
                    opacity: 0;
                    cursor: pointer;
                }
            }
            .rh5v-Time_component {
                padding: 0 10px 0 10px;
                line-height: 35px;
                color: #fff;
                display: inline-block;
                .rh5v-Time_current{
                    margin-right: 5px;
                }
                .rh5v-Time_duration{
                    margin-left: 5px;
                    color: #919191;
                }
            }
            .rh5v-Volume_component{
                width: 30px;
                height: 30px;
                display: inline-block;
                position: absolute;
                right: 40px;
                .rh5v-Volume_button{
                    width: 30px;
                    height: 30px;
                    background: none;
                    border: 0;
                    color: inherit;
                    font: inherit;
                    line-height: normal;
                    overflow: visible;
                    padding: 0;
                    cursor: pointer;
                    .rh5v-Volume_icon{
                        margin-top: 7px;
                    }
                }
                .rh5v-Volume_button:focus{
                    outline: 0;
                }
                .rh5v-Volume_slider{
                    display: none;
                    position: absolute;
                    right: 5px;
                    bottom: 100%;
                    left: 5px;
                    height: 56px;
                    background-color: #000;
                    .rh5v-Volume_track{
                        position: absolute;
                        top: 8px;
                        bottom: 8px;
                        left: 50%;
                        width: 4px;
                        transform: translateX(-50%);
                        background-color: #3e3e3e;
                        .rh5v-Volume_fill,.rh5v-Volume_input{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                        }
                        .rh5v-Volume_fill {
                            background-color: #fff;
                        }

                        .rh5v-Volume_input {
                            padding: 0;
                            margin: 0;
                            opacity: 0;
                            -webkit-appearance: slider-vertical;
                            cursor: pointer;
                        }
                    }
                }
            }
            .rh5v-Volume_component:hover .rh5v-Volume_slider{
                display: block;
            }
            .rh5v-Fullscreen_component{
                width: 30px;
                height: 30px;
                position: absolute;
                right: 16px;
                .rh5v-Fullscreen_button{
                    width: 30px;
                    height: 30px;
                    background: none;
                    border: 0;
                    color: inherit;
                    font: inherit;
                    line-height: normal;
                    overflow: visible;
                    padding: 0;
                    cursor: pointer;
                    .rh5v-Fullscreen_icon{
                        margin-top: 5px;
                    }
                }
            }
            .rh5v-Fullscreen_button:focus{
                outline: 0;
            }
        }
    }
    .rh5v-DefaultPlayer_component:hover .rh5v-DefaultPlayer_controls {
        opacity: 1;
    }
}


.videoModalWrap{
    width: 926px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    z-index: 1000;
    font-style: normal;
    border-radius: 4px;
    height: 520px;
    video{
        height: 100%;
    }
}

.videoWrap{
    background-color: #000;
}

.videoWrapCannot{
    text-align: center;
    z-index: 10;
    line-height: 520px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}
