.summary-switch-container {
  padding: 20px 0 0 20px;
  text-align: left;
}

.summary-switch-wrapper {
  margin-bottom: 10px;
}

.summary-switch-wrapper {
  vertical-align: top;
}

.summary-switch-title {
  float: left;
}

.summary-switch-common-wrapper {
  display: inline-block;
}

.summary .ant-tree-node-content-wrapper {
  width: 100%;
}
