.sendType {
    position: absolute;
    right: 4%;
    z-index: 10;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 100%;
    line-height: 32px;
}

ul.types{
    position: absolute;
    z-index: 9999;
    text-align: left;
    top: -51px;
    right: -0.07rem;
    height: 50px;
    width: 0.8rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    .enterTypeDefaultStyle{
        color: #666;
    }
    li{
        position: relative;
        height: 25px;
        line-height: 25px;
        border-bottom: 1px solid #ccc;
        padding-left: 0.15rem;
        color: #666;
        cursor: pointer;
        i{
            position: absolute;
            left: 0.02rem;
            font-size: 0.12rem;
            top: 0;
        }
    }
    li:nth-child(2){
        border-bottom: 0;
    }
}

.types {
  position: relative;
  z-index: 99999;
}
