.perView{
    border-bottom:1px solid #e7e6e7;
    padding:0.1rem 0.04rem 0.1rem 0.07rem;
    position:relative;
    i{
        font-size:20px;
    }
    img{
        width:32px;
        height:32px;
        border-radius:50%;
    }

    .sourceIconStyle {
        width: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 18px;
    }
    .sourceIconStylei {
        text-align: center;
    }
    .nameAddressBox{
        display:inline-block;
        width:calc(100% - 135px);
    }
    .iconBox{
        display:inline-block;
        width:75px;
        position:absolute;
        right:10px;
        top:0.1rem;
        i{
            display:inline-block;
            vertical-align:middle;
            float: right;
        }
        i.icon-zixunzongjie{
            font-size:20px;
            margin-left:5px;
        }
        i.icon-VIP{
            font-size:20px;
            margin-left:5px;
        }
    }

    .perview_user-name{
        font-size:15px;
        cursor:default;
        display:inline-block;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        vertical-align:middle;
    }
    .perview_user_address {
        padding-left: 8px;
    }

    .timeShow{
        padding-left:50px;
        box-sizing:border-box;
    }
}
.pendingWrap{
    height:100%;
    .scrollarea{
        height:100%;
    }
}
