.blue {
  $txtcolor: #0684ea;
  $headerBorderColor: #2598f2; /*头部导航条描边颜色*/
  $mouseHoverColor: #e4f7fd; /*鼠标经过颜色块*/
  $btnMainColor: #067ad8; /*按钮 鼠标正常状态*/
  $btnHoverColor: #49a9ee; /*按钮 鼠标经过*/
  $btnClickColor: #056dc1; /*按钮 鼠标点击*/
  $disabledBackGround: #f7f7f7; /*置灰背景色*/
  $disabledBorder: #d9d9d9; /*置灰边框色*/
  $stepFinish: #46c36f; /*step组件已完成进度样式颜色 绿*/

  .header {
    background: $txtcolor url("../../images/fresh/topbg.png") no-repeat right;
    .workStatistics .queueBox .box p {
      background: $txtcolor;
    }
    .more, .borderLeftShow, .user {
      border-left: 1px solid $headerBorderColor;
    }
    .workStatistics {
      .box {
        border-right: 1px solid $headerBorderColor;
      }
      .box:last-child {
        border-right: 0;
      }
    }

    .logo {
      border-bottom: 1px solid $txtcolor;
      .main {
        border-right: 1px solid $headerBorderColor;
      }
    }

    /*右上角工具条的背景颜色*/
    .toolWrap {
      background-color: #18459b;
    }
  }

    .chatpage {
        height: 100%;
        background-size: 100% 100%;
        .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
            background-color: $mouseHoverColor;
        }
        .retweetHistoryList:hover {
            background-color: $mouseHoverColor;
        }
        .perView.selected{
            background-color: $mouseHoverColor;
        }
        .consultinfo_container:hover, .consultinfo_container.selected {
            background-color: $mouseHoverColor;
        }
        .chatPageVideo {
            display: none;
        }
     /*   .icon-online:not(.icon-googlewap,.icon-google,.icon-youdao,.icon-youdaowap,.icon-inputwap,.icon-input,.icon-link,.icon-linkwap,.icon-yahoo,.icon-yahoowap,.icon-soso,.icon-sosowap,.icon-sogou,.icon-sogouwap,.icon-bing,.icon-bingwap,.icon-baidu,.icon-baiduwap,.icon-360,.icon-360wap,.icon-1072ieliulanqi,.icon-ios,.icon-android,.icon-app.icon-weixin) {
          color: $txtcolor;
        }*/
        .ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after{
            border-right: 3px solid $txtcolor;
        }
        .ant-menu-inline .ant-menu-item-selected {
          color: $txtcolor;
        }
        .sendSide .sendtButton {
          background: #0177d7;
        }
        .auto-complete p span {
          background: $txtcolor;
        }
        .MoreMessage {
            .msTypeTwo, .msTypeThree {
                span {
                    color: $txtcolor;
                }
            }
        }
        .transBg {
            background-color: $btnMainColor;
        }
        .directionMessage {

            .UserMessage {
                .comment_bubble {
                    background: $txtcolor !important;
                    .fileMessage {
                        .suffix {
                            color: $txtcolor;
                        }
                    }
                }
                .audioWrapper{
                    background-color: $txtcolor;
                }
                .comment_bubble:before, .audioWrapper:before {
                    border-right: 0.05rem solid #46a7f6;
                }
            }
            .SelfMessage {
                .comment_bubble {
                    .fileMessage {
                        .suffix {
                            background-color: $txtcolor;
                        }
                        .download a, span {
                            color: $txtcolor;
                        }
                    }
                }
            }
        }
        .trajectory {
            .traTitle {
                background-color: $txtcolor;
            }
            .traTab .loadMore {
                color: $txtcolor;
            }
            .order-list-badge {
                background-color: $txtcolor;
            }
            .all-list-page {
                color: $txtcolor;
            }
        }
        .userTabs {
            .userTabsBottom {
                span {
                    color: $txtcolor;
                }
            }
            .goback, .reportView, .ant-anchor-link-title.ant-anchor-link-title-active {
                color: $txtcolor;
            }
        }
        .infoLeft {
            background: rgba(255, 255, 255, 0.5);
            border-right:1px solid #cccccc;
            .well {
                .selected .normalColumnWrap, .information_consult {
                    border-left: 0.03rem solid #cccccc;
                }
            }
        }
        .infoRight {
            .send-box {
                border-top: 1px solid #ede4fb;
                .public-DraftEditorPlaceholder-root .public-DraftEditorPlaceholder-inner {
                    color: #7c7c7c;
                }
            }
        }
        .infoAside {
            background: rgba(255, 255, 255, 0.6);
            border-left:1px solid #cccccc;
            .ant-tabs-bar {
                opacity: 1;
            }
        }

        .ant-table-row {
            .ant-tabs-tab:hover {
                color: $txtcolor;
            }
            .ant-tag-blue {
                background-color: $txtcolor;
            }
        }
        .screen-shot .screen-shot-color {
          color: $txtcolor;
        }
        .ant-tabs-nav .ant-tabs-tab:hover {
          color: $txtcolor;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
          color: $txtcolor;
        }
        .ant-tabs-ink-bar {
          height: 4px;
          background-color: $txtcolor;
        }

  .now-page {
    color: #017def;
  }

  .grid {
    .grid-list {
      color: $txtcolor;
    }
    .grid-word {
      background: $txtcolor;
    }
  }

  .logoTrigger .ant-layout-sider {
    background-color: $txtcolor;
  }

  .chatpage {
    height: 100%;
    background-image: url("../../images/skin/bluesky.png");
    background-size: 100% 100%;
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: $mouseHoverColor;
    }
    .retweetHistoryList:hover {
      background-color: $mouseHoverColor;
    }
    .perView.selected {
      background-color: $mouseHoverColor;
    }
    .consultinfo_container:hover, .consultinfo_container.selected {
      background-color: $mouseHoverColor;
    }
    .chatPageVideo {
      display: none;
    }
    /*   .icon-online:not(.icon-googlewap,.icon-google,.icon-youdao,.icon-youdaowap,.icon-inputwap,.icon-input,.icon-link,.icon-linkwap,.icon-yahoo,.icon-yahoowap,.icon-soso,.icon-sosowap,.icon-sogou,.icon-sogouwap,.icon-bing,.icon-bingwap,.icon-baidu,.icon-baiduwap,.icon-360,.icon-360wap,.icon-1072ieliulanqi,.icon-ios,.icon-android,.icon-app.icon-weixin) {
         color: $txtcolor;
       }*/
    .ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
      border-right: 3px solid $txtcolor;
    }
    .ant-menu-inline .ant-menu-item-selected {
      color: $txtcolor;
    }
    .sendSide .sendtButton {
      background: #0177d7;
    }
    .auto-complete p span {
      background: $txtcolor;
    }
    /*dropDown背景颜色*/
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
        background-color: $mouseHoverColor;
    }

    /*Select选择器*/
    .ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active {
        background-color: $mouseHoverColor;
    }

    /*加载动画的颜色*/
    .la-square-jelly-box, .loading {
        //color: $txtcolor;
    }

    /*主按钮鼠标划过样式*/
    .ant-btn-primary {
        background-color: $txtcolor;
        border-color: $txtcolor;
    }


    /*次按钮鼠标划过样式*/
    .ant-btn-ghost:hover, .ant-btn-ghost:focus {
        color: $txtcolor;
        border-color: $txtcolor;
    }

    /*下拉选框颜色样式*/
    .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
        border-color: $txtcolor;
        box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
    }

    .ant-select-selection:hover {
        border-color: $txtcolor;
    }

    /*日期选择样式调整*/
    .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
        border-color: $txtcolor;
    }
    .ant-calendar-picker-container {
        .ant-calendar-today .ant-calendar-date {
            border-color: $btnMainColor;
        }
        .ant-calendar-header a:hover {
            color: $btnMainColor;
        }
        .ant-calendar-date:hover {
            background-color: $mouseHoverColor;
        }
        .ant-calendar-footer {
            .ant-calendar-time-picker-btn, .ant-calendar-today-btn  {
                color: $btnMainColor;
            }
        }
        .ant-calendar-today .ant-calendar-date {
            color: $btnMainColor;
        }
        .ant-calendar-selected-day .ant-calendar-date, .ant-calendar .ant-calendar-ok-btn {
            background-color: $txtcolor;
            border-color: $txtcolor;
            color: #fff;
        }
        .ant-calendar-range .ant-calendar-in-range-cell:before {
            background-color: $mouseHoverColor;
        }
      }
    }
    .transBg {
      background-color: #fff;
    }
    .mailCon .usualTIpsStyle .usualTIpsStyleRight .ant-tree li ul li:hover{
        background-color: $mouseHoverColor;
    }
      .UserMessage {
        .comment_bubble {
          background: $txtcolor;
          .fileMessage {
            .suffix {
              color: $txtcolor;
            }
          }
        }
        .audioWrapper {
          background-color: $txtcolor;
        }
        .comment_bubble:before, .audioWrapper:before {
          border-right: 0.05rem solid #46a7f6;
        }
      }
      .SelfMessage {
        .comment_bubble {
          .fileMessage {
            .suffix {
              background-color: $txtcolor;
            }
            .download a, span {
              color: $txtcolor;
            }
          }
        }
      }
    }
    .trajectory {
      .traTitle {
        background-color: $txtcolor;
      }
      .traTab .loadMore {
        color: $txtcolor;
      }
      .order-list-badge {
        background-color: $txtcolor;
      }
      .all-list-page {
        color: $txtcolor;
      }
    }
    .userTabs {
      .userTabsBottom {
        span {
          color: $txtcolor;
        }
      }
      .goback, .reportView, .ant-anchor-link-title.ant-anchor-link-title-active {
        color: $txtcolor;
      }
    }
    .infoLeft {
      background: rgba(255, 255, 255, 0.5);
      .well {
        .selected .normalColumnWrap, .information_consult {
          border-left: 0.03rem solid $txtcolor;
        }
      }
    }
    .infoRight {
      .send-box {
        .public-DraftEditorPlaceholder-root .public-DraftEditorPlaceholder-inner {
          color: #7c7c7c;
        }
      }
    }
    .infoAside {
      background: rgba(255, 255, 255, 0.6);
      .ant-tabs-bar {
        opacity: 1;
      }
    }

    .ant-table-row {
      .ant-tabs-tab:hover {
        color: $txtcolor;
      }
      .ant-tag-blue {
        background-color: $txtcolor;
      }
    }
    .screen-shot .screen-shot-color {
      color: $txtcolor;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: $txtcolor;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: $txtcolor;
    }
    .ant-tabs-ink-bar {
      height: 4px;
      background-color: $txtcolor;
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
      color: $txtcolor;
    }

    /*咨询总结tag样式*/
    .chatsummary_tree_selected_items_wrapper {
      .ant-tag {
        background-color: $txtcolor;
      }
    }
  }
  /*分页样式*/
  .ant-pagination-item-active {
    background-color: $txtcolor;
    border-color: $txtcolor;
  }
  .ant-pagination-item.ant-pagination-item-active:hover {
    opacity: 0.8;
  }
  .ant-pagination-item:not(.ant-pagination-item-active):hover {
    a {
      color: $txtcolor;
    }
    border-color: $txtcolor;
  }

  .ant-pagination-options-quick-jumper input:hover {
    border-color: $txtcolor;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
    border-color: $txtcolor;
    color: $txtcolor;
  }
  .ant-pagination-options-quick-jumper input:focus {
    border-color: $txtcolor;
    box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
  }
  .ant-pagination-prev:not(.ant-pagination-disabled):hover,
  .ant-pagination-next:not(.ant-pagination-disabled):hover {
    border-color: $txtcolor;
    a {
      color: $txtcolor;
    }
  }
  .ant-pagination-disabled,
  .ant-pagination-prev.ant-pagination-disabled:focus,
  .ant-pagination-next.ant-pagination-disabled:focus,
  .ant-pagination-prev.ant-pagination-disabled:hover,
  .ant-pagination-next.ant-pagination-disabled:hover {
    border-color: #ccc;
    a {
      color: #ccc;
      background: #f7f7f7;

    }
  }
  .ant-pagination-jump-prev:focus:after,
  .ant-pagination-jump-next:focus:after,
  .ant-pagination-jump-prev:hover:after,
  .ant-pagination-jump-next:hover:after {
    color: $txtcolor;
  }

  .ant-radio-wrapper:hover .ant-radio-inner {
    border-color: $txtcolor;
  }

  /*ant-input样式*/
  .ant-form-item-control:not(.has-error) > .ant-input-wrapper > .ant-input:hover,
  .ant-form-item-control:not(.has-error) > .ant-input:hover,
  .ant-form-item-control:not(.has-error) .ant-input-wrapper > .ant-input:hover,
  .ant-form-item-control:not(.has-error) .ant-input.NewTipsInput:hover {
    border-color: $txtcolor;
  }
  .ant-form-item-control:not(.has-error) > .ant-input-wrapper > .ant-input:focus,
  .ant-form-item-control:not(.has-error) > .ant-input:focus,
  .ant-form-item-control:not(.has-error) .ant-input-wrapper > .ant-input:focus,
  .ant-form-item-control:not(.has-error) .ant-input.NewTipsInput:focus {
    border-color: $txtcolor;
    box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
  }

  /*只有数字类型的input类型*/
  .ant-input-number:hover {
    border-color: $txtcolor;
  }
  .ant-input-number:focus, .ant-input-number-focused {
    border-color: $txtcolor;
    box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
  }
  .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
  .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color: $txtcolor;
  }

  .ant-btn:not(.ant-btn-primary):not(.ant-btn-default):hover,
  .ant-btn:not(.ant-btn-primary):focus {
    color: $txtcolor;
    border-color: $txtcolor;
    i.newTipsIcon {
      color: #fff;
    }
  }
  /*关键页面表格按钮*/
  .ant-btn.ant-btn-dashed:hover {
    color: #fff;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-inner,
  .ant-checkbox-wrapper:hover .ant-checkbox .ant-checkbox-input,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-input,
  .ant-checkbox-focused .ant-checkbox-input
  .ant-checkbox-focused .ant-checkbox-inner {
    border-color: $txtcolor;
  }

  /*加载失败页面 字体颜色*/
  .loadFail_CompanyInfo div span {
    color: $txtcolor;
  }

  /*表格 头部 上下箭头颜色样式*/
  .ant-table-column-sorter-up.on .anticon-caret-up,
  .ant-table-column-sorter-down.on .anticon-caret-up,
  .ant-table-column-sorter-up.on .anticon-caret-down,
  .ant-table-column-sorter-down.on .anticon-caret-down {
    color: $txtcolor;
  }

  /*选择下拉框 处于选择状态时背景选中颜色*/
  .ant-select-open .ant-select-selection {
    border-color: $txtcolor;
    box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
  }

  /*tab字体的颜色*/
  .ant-tabs-nav .ant-tabs-tab-active {
    color: $txtcolor;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $txtcolor;
  }

  /*tab下划线的颜色*/
  .ant-tabs-ink-bar {
    background-color: $txtcolor;
  }

  /*dropDown背景颜色*/
  .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
    background-color: $mouseHoverColor;
  }

  /*Select选择器*/
  .ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active {
    background-color: $mouseHoverColor;
  }

  /*加载动画的颜色*/
  .la-square-jelly-box, .loading {
    //color: $txtcolor;
  }

  /*主按钮鼠标划过样式*/
  .ant-btn-primary {
    background-color: $txtcolor;
    border-color: $txtcolor;
  }

  /*次按钮鼠标划过样式*/
  .ant-btn-ghost:hover, .ant-btn-ghost:focus {
    color: $txtcolor;
    border-color: $txtcolor;
  }

  /*下拉选框颜色样式*/
  .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: $txtcolor;
    box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
  }

  .ant-select-selection:hover {
    border-color: $txtcolor;
  }

  /*日期选择样式调整*/
  .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: $txtcolor;
  }
  .ant-calendar-picker-container {
    .ant-calendar-today .ant-calendar-date {
      border-color: $btnMainColor;
    }
    .ant-calendar-header a:hover {
      color: $btnMainColor;
    }
    .ant-calendar-date:hover {
      background-color: $mouseHoverColor;
    }
    .ant-calendar-footer {
      .ant-calendar-time-picker-btn, .ant-calendar-today-btn {
        color: $btnMainColor;
      }
    }
    .ant-calendar-today .ant-calendar-date {
      color: $btnMainColor;
    }
    .ant-calendar-selected-day .ant-calendar-date, .ant-calendar .ant-calendar-ok-btn {
      background-color: $txtcolor;
      border-color: $txtcolor;
      color: #fff;
    }
    .ant-calendar-range .ant-calendar-in-range-cell:before {
      background-color: $mouseHoverColor;
    }
  }

  /*树选择样式调整*/
  .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
    background-color: $btnMainColor;
    border-color: $btnMainColor;
  }
  .ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner {
    border-color: $btnMainColor;
  }
  .ant-select-tree li span.ant-select-tree-icon_loading:after {
    color: $btnMainColor;
  }
  .ant-select-tree li a.ant-select-tree-node-selected {
    background-color: $mouseHoverColor;
  }
  .ant-select-tree li a:hover {
    background-color: $mouseHoverColor;
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
    background-color: $mouseHoverColor;
  }
  .ant-select-tree li .ant-select-tree-node-content-wrapper:hover {
    background-color: $mouseHoverColor;
  }

  /*KPI样式调整*/
  .kpi {
    .concernedReport, .kpiFilterIcon {
      color: $txtcolor !important;
    }
    .topRight .icon, .ant-tabs-tab-active, .ant-tabs-tab:hover {
      color: $txtcolor;
    }
    .ant-input:hover {
      border-color: $btnMainColor;
    }
    .ant-input:focus {
      border-color: $btnMainColor;
      box-shadow: 0 0 0 2px rgba(6, 122, 216, 0.3);
    }
    .screen .content {
      .ant-radio-button-wrapper.ant-radio-button-wrapper-checked, .ant-form .ant-radio-button-wrapper {
        background-color: $btnMainColor;
      }
      circle {
        fill: $btnMainColor;
      }
    }
    .reportDatails {
      .goback, .ant-breadcrumb span:first-child span:first-child, .ant-btn-circle {
        color: $btnMainColor;
      }
      .ant-btn-circle:hover {
        color: $btnMainColor;
      }
      .reportView, .ant-anchor-link-title {
        color: $txtcolor;
      }
    }
    .ant-spin-dot i {
      background-color: $txtcolor;
    }
    .ant-tabs {
      .ant-tabs-tab-active {
      }
    }
    .ant-anchor-link-title {
      background-color: $txtcolor;
    }
    .reportDetails {
      .ant-btn-circle {
        color: $txtcolor;
      }
    }
  }

  /*设置被选中的颜色样式*/
  .settingTabsMenu, .recordTabWrap {
    .ant-menu-item.ant-menu-item-selected {
      background-color: $txtcolor;
    }
  }

  .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: $txtcolor;
    border-color: $txtcolor;
  }

  .ant-checkbox-disabled .ant-checkbox-inner {
    background-color: $disabledBackGround;
    border-color: $disabledBorder;
  }

  .ant-checkbox-group-item:hover .ant-checkbox-inner {
    border-color: $txtcolor;
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: $txtcolor;
  }

  .ant-radio-disabled .ant-radio-inner:after {
    background-color: $disabledBorder;
  }

  .ant-radio-inner:after {
    background-color: $txtcolor;
  }

  .ant-switch-checked {
    background-color: $txtcolor;
    border-color: $txtcolor;
  }

  .ant-tree-checkbox-checked .ant-tree-checkbox-inner, .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner,
  .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner, .ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
    background-color: $txtcolor;
    border-color: $txtcolor;
  }

  .ant-tree-checkbox-inner:hover {
    border-color: $txtcolor;
  }

  /*划过表格的背景色*/
  .ant-table-thead > tr.ant-table-row-hover > td,
  .ant-table-tbody > tr.ant-table-row-hover > td,
  .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
    background-color: $mouseHoverColor;
  }

  /*划过树的背景色*/
  .ant-tree li .ant-tree-node-content-wrapper:hover,
  .ant-tree li a.ant-tree-node-selected, .ant-tree li span.ant-tree-node-selected {
    background-color: $mouseHoverColor !important;
  }

  /*menu划过的颜色*/
  .settingRight, .chatpage {
    .ant-menu-item:hover, .ant-menu-item-active, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
      background-color: $mouseHoverColor;
    }
  }

  /*关键页面按钮的移入样式*/
  .clearfix Button:hover {
    background-color: $btnHoverColor;
    border-color: $btnHoverColor;
    color: #fff;
  }
  /*关键页面 表格中暂无数据移入样式*/
  .essential tr:hover .ant-table-placeholder {
    background-color: $mouseHoverColor;
  }

  /*进度条样式*/
  .ant-steps .ant-steps-item.ant-steps-status-process .ant-steps-head-inner {
    border-color: $txtcolor;
    background-color: $txtcolor;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner {
    border-color: $stepFinish;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-head-inner > .ant-steps-icon {
    color: $stepFinish;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-tail > i:after {
    background-color: $stepFinish;
  }
  .ant-steps .ant-steps-item.ant-steps-status-finish .ant-steps-main .ant-steps-title {
    color: $stepFinish;
  }
  /*智能分配*/
  .makeusers {
    circle {
      fill: $btnMainColor;
    }
  }
  .ant-radio-button-wrapper {
    background-color: $btnMainColor;
    border-color: $btnMainColor;
  }

  .ant-radio-button-wrapper:hover {
    color: $txtcolor;
  }

  .ant-radio-button-wrapper.ant-radio-button-wrapper-disabled:hover {
    color: #ccc;
  }

  .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked),
  .ant-radio-button-wrapper.ant-radio-button-wrapper-disabled {
    border-color: #ccc;
    color: #ccc;
  }

  /*一些需要特殊处理的Input组件*/
  .distribution, .advancedSearch, .searchValueBox, .sameWebBox, .topspeedModelContent
  .chatSummarModal, .consultativeEvaluation, .chatsummary, .leaveMsgUserinfo {
    .ant-input:hover {
      border-color: $txtcolor;
    }
    .ant-input:focus {
      border-color: $txtcolor;
      box-shadow: 0 0 0 2px rgba(6, 122, 216, 0.3);
    }
  }

  /*select下拉框条目的对勾*/
  .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:after,
  .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover:after {
    color: $txtcolor;
  }

  /*日期边框颜色*/
  .ant-input.ant-calendar-range-picker:hover {
    border-color: $txtcolor;
  }

  /*高级搜索符号的样式*/
  .filterWrap .iconfont.icon-sousuo {
    color: $txtcolor;
  }
  .advancedSearchTitle {
    color: $txtcolor;
  }

  /*打开树节点加载样式*/
  .ant-tree li span.ant-tree-icon_loading:after {
    color: $txtcolor;
  }

  /*待处理详情页面*/
  .pendingDetailRecord {
    .leaveMessageStyle, .dealLeaveMessage {
      color: $txtcolor;
    }
  }

  /*卡片样式*/
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active,
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover {
    color: $txtcolor;
  }

  /*感叹号样式*/
  .anticon-exclamation-circle-o {
    color: $txtcolor;
  }
  /*感叹号后面文字的颜色*/
  .autoAnswerConfigure {
    color: $txtcolor;
  }
  /*个人信息弹框底部颜色*/
  .ant-dropdown-placement-bottomRight .setting .deal {
    background-color: $mouseHoverColor;
  }

  /*咨询接待 发送按钮点击弹出样式*/
  ul.types {
    .enterTypeStyle {
      color: $txtcolor;
    }
    li:hover {
      background-color: $mouseHoverColor;
      color: $txtcolor;
    }
  }

  /*咨询评价ant-input双击样式*/
  .consultativeEvaluation {
    .ant-input:hover {
      border-color: $txtcolor;
    }
    .ant-input:focus {
      border-color: $txtcolor;
      box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
    }
  }

  /*账户中心弹框进度条*/
  .ant-slider-handle, .ant-slider:hover .ant-slider-handle {
    border-color: $txtcolor;
  }
  .ant-slider-track, .ant-slider:hover .ant-slider-track {
    background-color: $txtcolor;
  }

  /*角色管理弹框字的颜色*/
  span.role-btn-visi {
    color: $txtcolor;
  }

  /*个人常用话术转圈颜色*/
  .is-validating.has-feedback:after {
    color: $txtcolor;
  }

  /*咨询接待 同事会话*/
  .chatpage {
    .ant-menu-item:hover, .ant-menu-item-active,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
      color: $txtcolor;
    }
  }

  /*互动记录咨询详情页面左侧*/
  .retweetHistoryList {
    .audioWrapper {
      background-color: $txtcolor;
    }
  }
  .retweetHistoryList.selected {
    background-color: $mouseHoverColor;
  }

  /*智能切换样式*/
  .intelligent-head-div:hover {
    border-color: $txtcolor;
  }
  .intelligent-head-div:focus {
    border-color: $txtcolor;
    box-shadow: 0 0 0 2px rgba(6, 132, 234, 0.3);
  }

  /*互动记录 高级搜素列表样式*/
  .nt-button-group-item-checked {
    border: 1px solid $txtcolor;
    color: $txtcolor;
  }
  .advancedSearchContent{
      .perSelect{
          a{
              color:$txtcolor;
          }

          /*提示弹框按钮的样式*/
          .ant-confirm .ant-confirm-btns{
              .ant-btn.ant-btn-primary{
                  background-color:$btnMainColor;
                  border-color:$btnMainColor;
              }
              .ant-btn.ant-btn-primary:hover{
                  background-color:$btnHoverColor;
                  border-color:$btnHoverColor;
              }
              .ant-btn.ant-btn-primary:focus{
                  background-color:$btnClickColor;
                  border-color:$btnClickColor;
              }
              .ant-btn:not(.ant-btn-primary):hover{
                  border-color:$btnHoverColor;
                  color:$btnHoverColor;
              }
          }

          .accountRight .accountsTableList .createAccountBtn .deleteAccount,
          .accountRight .accountsTableList .createAccountBtn .ant-btn,
          .accountRight .searchAccountBox .accountSearchForm .accountSearchBtn .searchBtnBox .ant-btn-primary{
              background-color:$txtcolor;
              border-color:$txtcolor;
              &:hover{
                  background-color:$btnHoverColor;
                  border-color:$btnHoverColor;
              }
              &:focus{
                  background-color:$btnClickColor;
                  border-color:$btnClickColor;
              }
          }

          /*视频进度条*/
          .rh5v-Seek_fill{
              background-color:$txtcolor;
          }

          /*第三方接入页面*/
          .titleExplain{
              .number{
                  background-color:$txtcolor;
              }
          }
          .newReceptionRowStyle{
              background-color:$mouseHoverColor !important;
          }

          /*消息点击弹层*/
          .messageTrigger{
              .itemLi:hover, .cirle{
                  background-color:$txtcolor;
              }
          }

          .smartInput{
              .smartInputTitle{
                  background-color:$txtcolor;
              }
              .inputViewFile{
                  circle{
                      fill:$txtcolor;
                  }
                  &:hover{
                      background-color:$mouseHoverColor;
                  }
              }
              .inputViewFile.selected{
                  background-color:$mouseHoverColor;
              }
          }
          /*弹框同一颜色样式*/
          .modalCommonStyle{
              .ant-modal-close-x{
                  width:0.5rem;
                  height:0.4rem;
                  line-height:0.4rem;
                  font-size:18px;
                  background:$txtcolor;
              }
              .ant-modal-close-x:before{
                  color:#fff;
              }
              .ant-modal-header{
                  background:$txtcolor;
                  .ant-modal-title{
                      color:#fff;
                      line-height:0.2rem;
                  }
              }
          }
      }
  }
