/***********************CustomTab文件的 样式***********************/
.customTabWrap{
    height: 100%;
    .addCustomBtn{
        margin: 0.1rem 0.09rem;
        height: 0.28rem;
    }
    .customTabScrollArea{
        height: calc(100% - 0.48rem);
        padding: 0 0.08rem 0 0.06rem;
        .ant-table{
            th, td{
                text-align: center;
            }
            .ant-table-thead {
                tr th {
                    padding: 0.07rem 0.08rem;
                    line-height: 0.24rem;
                }
            }
            tr td{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-word;
                padding: 0.06rem 0.08rem;
                .customTabOperate {
                    i {
                        cursor: pointer;
                    }
                    i:nth-child(1) {
                        margin-right: 0.15rem;
                    }
                }
            }
        }

        .ant-spin-container {
            .ant-table-pagination {
                margin: 0.09rem 0 0.07rem 0;
            }
        }
    }
}


/***********************NewCustomTab文件的 样式***********************/
.newCustomTabWrap{
    height: 100%;

    .customTable {
        height: calc(100% - 0.82rem);
        overflow: auto;
    }
    .customTable::-webkit-scrollbar
    {
        width: 8px;
        height: 8px;
    }

    .customTable::-webkit-scrollbar-thumb
    {
        background-color: #bdbdbd;
        border-radius: 4px;
    }

    .newCustomTabHeade{
        height: 0.38rem;
        line-height: 0.38rem;
        padding-left: 0.14rem;
        .headWrap{
            //width: 44px;
            cursor: pointer;
            .backIcon{
                font-size: 16px;
            }
            .backText{
                font-size: 14px;
                color: #969696;
            }
        }
    }
    .newCustomTabForm{
        .ant-form-item-with-help{
            margin-bottom: 24px;
        }
    }
    .newCustomTabMiddle{
        padding-left: 100px;
        .content{
            padding: 0;
        }
        .main{
            .ant-form{
                padding: 0;
            }
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
            background: transparent;
        }
    }
    .newCustomTabBottom{
        padding: 0 26px;
        p.title{
            font-size: 12px;
            color: #666666;
            font-weight: bold;
            line-height: 40px;
        }
        p.item{
            font-size: 12px;
            color: #666666;
            font-weight: bold;
            line-height: 34px;
        }
        p.textContent{
            font-size: 12px;
            color: #999;
            line-height: 24px;
        }
    }
    .btnWrap{
        width: 100%;
        height: 0.44rem;
        line-height: 0.44rem;
        padding-right: 0.14rem;
        border-top: 1px solid #e9e9e9;
        text-align: right;
        position: absolute;
        bottom: 0;
        .ant-btn.ant-btn-primary{
            margin-left: 10px;
        }
    }
    .ant-form{
        padding: 0 20px;
        .ant-col-2{
            text-align: left;
            width: 80px;
        }
        .ant-col-18{
            width: 658px;
            .ant-form-explain{
                display: inline;
                position: absolute;
                top: 8px;
                margin-left: 10px;
                right: -40px;
            }
        }

        .tabLinkIpt {
            .ant-col-18 {
                .ant-form-explain {
                    display: none;
                }
            }
        }
    }
}

/***********************ParamSetting文件的 样式***********************/
.customScreen {
    display: inline-block;
    height: 100%;
    .content {
        position: relative;
        .ant-radio-group {
            display: block;
            position: relative;

        }
        .mask {
            width: 10px;
            height: 16px;
            position: absolute;
            top: 0;
            background: #fff;
            z-index: 1;
        }
        .main {
            border-left: 1px #e3e3e3 dashed;
            //padding-bottom: 22px;
            position: relative;
            .dimensionsOptions {
                margin-bottom: 20px;
                line-height: 26px;
                /*.areaSelectStyle {
                    position: relative;
                    left: 0;
                    top: -2px;
                }*/
                .queueList-border {
                    display: inline-block;
                    width: 21px;
                    height: 1px;
                    border-bottom: 1px #e3e3e3 dashed;
                    position: relative;
                    top: -3px;
                }
                .ant-radio-button-wrapper {
                    color: #fff;
                }
                .icon {
                    color: #eb4f38;
                    cursor: pointer;
                }
                .ant-select-search__field__placeholder {
                    padding-left: 5px;
                }
                .provinceSelectStyle {
                    margin: 0 20px;
                }
                .areaSelectStyle {
                    vertical-align: top;

                }
                .selectIptStyle {
                    vertical-align: top;
                    .ant-select-selection {
                        min-height: 32px;

                        .ant-select-selection__rendered {
                            line-height: 30px;
                        }
                    }
                }
                .ant-select-selection--multiple {
                    min-height: 32px;
                    padding: 2px 0 2px 0;
                    max-height: 32px;
                    overflow: auto;
                    .ant-select-selection__rendered {
                        line-height: 26px!important;
                    }
                }
                .ant-select-selection--multiple::-webkit-scrollbar
                {
                    width: 8px;
                    height: 8px;
                }

                .ant-select-selection--multiple::-webkit-scrollbar-track
                {
                    background-color: transparent;
                }

                .ant-select-selection--multiple::-webkit-scrollbar-thumb
                {
                    background-color: #bdbdbd;
                    border-radius: 4px;
                }
                .filterValueIpt {
                    width: 380px;
                    height: 32px;
                    margin-right: 10px;
                    display: inline-block;
                }
                .delFilter {
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
            .add {
                position: absolute;
                bottom: -20px;
                left: -10px;
                color: #666;
                cursor: pointer;
                .icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    border: 1px solid #666;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
        .footer {
            position: inherit;
            bottom: 46px;
            width: 97%;
            .ant-btn {
                float: right;
                margin-right: 12px;
            }
        }
    }
    .ant-radio-button-wrapper {
        height: 29px;
        width: 42px;
        padding: 0;
        text-align: center;
        border: none;
        //background: #f2f2f1;
        color: #323231;
        line-height: 29px;
    }
    .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
        background: #5ab0f6;
        color: #fff;
    }
}
