.grid {
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    line-height: 20px;
  }

  .ant-table-fixed-right {
    box-shadow: none;
    .operating{
      display: inline-block;
      color: #0177d7;
      cursor: pointer;
    }
  }

  .grid-list {
    margin-left: 20px;
  }
  .grid-word {
    margin: 10px 20px 0 0;
    float: right;
    width: 95px;
    height: 25px;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 6px;
    cursor: pointer;
  }
}
.grid-options{
  .grid-option-item {
    width: 50%;
    display: inline-block;
    line-height: 50px;
    .item {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 20px;
    }
  }
}
