.roleName{
    display: flex;
    div:first-child{
        text-align: left;
        flex-shrink: 0;
    }
    div:last-child{
        flex:1;
        input{
            width: 100% !important;
        }
    }
}
.roleDescribe{
    display: flex;
    div:first-child{
        text-align: left;
        flex-shrink: 0;
    }
    div:last-child{
        flex:1;
        input{
            width: 100% !important;
        }
    }
}

.createRole .createRoleRight .roleName .ant-col-4,.createRole .createRoleRight .roleDescribe .ant-col-4{
    width: 80px !important;
}