.clearFix:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}


.queueManage{
    .ant-tabs-nav .ant-tabs-tab{
        padding:0 0.2rem 0.08rem 0.2rem;
        margin-left:24px;
        margin-right:0;
    }
    .queueStatus{
        bottom: 12px;
        right: 85px;
    }
    .queueManage-head{
        margin-left:10px;
        padding-top:20px;
        line-height:35px;
        border-bottom:1px solid #e9e9e9;
        padding-bottom:20px;
        .screen{
            margin-top:10px;
            .content{
                .main{
                    margin-left:42px;
                    border-left:1px #e3e3e3 dashed;
                    padding-bottom:22px;
                    padding-top:20px;
                    position:relative;
                    .ant-form{
                        margin-bottom:20px;
                        line-height:26px;
                        .queueList-border{
                            display:inline-block;
                            width:21px;
                            height:1px;
                            border-bottom:1px #e3e3e3 dashed;
                            position:relative;
                        }
                        .ant-radio-button-wrapper{
                            background:#5ab0f6;
                            color:#fff;
                        }
                        .icon{
                            color:#eb4f38;
                            cursor:pointer;
                        }
                        .ant-select-search__field__placeholder{
                            padding-left:5px;
                        }
                    }
                    .add{
                        position:absolute;
                        bottom:-20px;
                        left:-10px;
                        color:#666;
                        .icon{
                            cursor:pointer;
                            display:inline-block;
                            width:20px;
                            height:20px;
                            text-align:center;
                            line-height:20px;
                            font-size:12px;
                            border:1px solid #666;
                            border-radius:50%;
                            margin-right:10px;
                        }
                    }
                }
                .footer{
                    position:inherit;
                    bottom:46px;
                    width:97%;
                    .ant-btn{
                        float:right;
                        margin-right:12px;
                    }
                }
            }
            .ant-radio-button-wrapper{
                height:29px;
                width:42px;
                padding:0;
                text-align:center;
                border:none;
                background:#f2f2f1;
                color:#323231;
                line-height:29px;
            }
            .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
                background:#5ab0f6;
                color:#fff;
            }
        }
        .queueManage-card-head{
            border-bottom:1px solid #e9e9e9;
        }
        .queueManage-card-foot{
            color:#bfbebe;
        }
        .queueManage-card-foot:hover{
            color:#5daef4;
        }
        .new-queue{
            border-left:1px dashed #dae0e7;
            margin:30px 0 10px 0;
            .queueManage-card-foot{
                position:relative;
                top:20px;
                right:4px;
                span{
                    cursor:pointer;
                }
            }
        }
    }
    .queue-body{
        height:100%;
        position:relative;
        padding:0 0 0 32px;
        .queue-body-right{
            width:100%;
            .ant-radio-group{
                margin:0.1rem 0;
            }
            .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-checked){
                width:298px;
                height:32px;
                line-height:32px;
                text-align:center;
                background:#fff !important;
                color:#595959;
            }

            .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
                width:298px;
                height:32px;
                line-height:32px;
                text-align:center;
                color:#fff;
            }
            .ant-radio-button-wrapper.ant-radio-button-wrapper-disabled,
            .ant-radio-button-wrapper.ant-radio-button-wrapper-checked.ant-radio-button-wrapper-disabled{
                background:#f7f7f7;
                color:#ccc;
            }

            .ant-radio-button-wrapper-checked{
                color:#fff;
                box-shadow:0 0 0 0;
            }

            .ant-radio-button-wrapper:nth-child(1){
                border-right:0;
            }

            .checkBoxStyle{
                width:200px;
                margin-bottom:15px;
            }
            .queueWordIptStyle{
                height:80px;
                width:596px;
                resize:none;
            }
            .ant-input.queueWordIptStyle.ant-input-disabled{
                border-color:#ccc;
            }
            .ant-checkbox-group label{
                display:inline-block;
            }
        }
    }
    .ant-card-body{
        padding:0;
    }
}
.settingRight .queueManage .company-footer{
    position:absolute;
    width:100%;
    border-top:1px solid #e9e9e9;
    padding:20px 0;
    bottom:0;
    right:0;
    overflow:hidden;
    .primary, .ghost{
        float:right;
        margin-right:20px;
    }
}
.makeusers-body{
    padding-top:30px;
    height:100%;

    .queueGroupName{
        margin-bottom: 20px;
        .queueNameTitle{
            float:left;
            width:110px;
            text-align:right;
            line-height:32px;
            margin-right:15px;
        }
        .ant-form .ant-form-item{
            margin-bottom:0;
        }
    }
    .queueUserFilter{
        display:inline-block;
        width:110px;
        text-align:right;
        vertical-align:top;
        margin:6px 15px 0 0;
    }
    .ant-form-item-with-help{
        margin-bottom:24px;
    }
    .screen{
        width:80%;
        display:inline-block;
        height:calc(100% - 52px);
        .content{
            position:relative;
            .ant-radio-group{
                display:block;
                position:relative;
            }
            .mask{
                width:10px;
                height:16px;
                position:absolute;
                top:0;
                background:#fff;
                z-index:1;
            }
            .main{
                border-left:1px #e3e3e3 dashed;
                padding-bottom:22px;
                position:relative;
                .dimensionsOptions{
                    margin-bottom:20px;
                    line-height:26px;
                    /*.areaSelectStyle {
                        position: relative;
                        left: 0;
                        top: -2px;
                    }*/
                    .queueList-border{
                        display:inline-block;
                        width:21px;
                        height:1px;
                        border-bottom:1px #e3e3e3 dashed;
                        position:relative;
                        top:-3px;
                    }
                    .ant-radio-button-wrapper{
                        color:#fff;
                    }
                    .icon{
                        color:#eb4f38;
                        cursor:pointer;
                    }
                    .ant-select-search__field__placeholder{
                        padding-left:5px;
                    }
                    .provinceSelectStyle{
                        margin:0 20px;
                    }
                    .areaSelectStyle {
                        vertical-align: top;

                    }
                    .selectIptStyle{
                        vertical-align: top;
                        .ant-select-selection{
                            min-height:32px;
                            .ant-select-selection__rendered{
                                line-height:30px;
                            }
                        }
                    }
                    .ant-select-selection--multiple{
                        min-height:32px;
                        padding:2px 0 2px 0;
                        max-height: 32px;
                        overflow: auto;
                        .ant-select-selection__rendered{
                            line-height:26px !important;
                        }
                    }
                    .ant-select-selection--multiple::-webkit-scrollbar
                    {
                        width: 8px;
                        height: 8px;
                    }

                    .ant-select-selection--multiple::-webkit-scrollbar-track
                    {
                        background-color: transparent;
                    }

                    .ant-select-selection--multiple::-webkit-scrollbar-thumb
                    {
                        background-color: #bdbdbd;
                        border-radius: 4px;
                    }
                }
                .add{
                    position:absolute;
                    bottom:-20px;
                    left:-10px;
                    color:#666;
                    cursor:pointer;
                    .icon{
                        display:inline-block;
                        width:20px;
                        height:20px;
                        text-align:center;
                        line-height:20px;
                        font-size:12px;
                        border:1px solid #666;
                        border-radius:50%;
                        margin-right:10px;
                    }
                }
            }
            .footer{
                position:inherit;
                bottom:46px;
                width:97%;
                .ant-btn{
                    float:right;
                    margin-right:12px;
                }
            }
        }
        .ant-radio-button-wrapper{
            height:29px;
            width:42px;
            padding:0;
            text-align:center;
            border:none;
            //background: #f2f2f1;
            color:#323231;
            line-height:29px;
        }
        .ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
            background:#5ab0f6;
            color:#fff;
        }
    }
    .new-didtribute{
        border-left:1px dashed #dae0e7;
        margin:0 0 0 175px;
        .queueManage-card-foot{
            position:relative;
            top:20px;
            right:4px;
            span{
                cursor:pointer;
            }
        }
    }
}
.queueManageBox{
    height:100%;
    .queueListScrollArea {
        height: 100%;
    }

    .ant-tabs-nav .ant-tabs-tab{
        padding:0 0.2rem 0.08rem 0.2rem;
    }

    .newQueuePage{
        height:100%;
        .queueGroupBox{
            height:100%;

            .queueGroupScroll {
                height: calc(100% - 120px);
                overflow: auto;
            }

            .queueGroupScroll::-webkit-scrollbar
            {
                width: 8px;
                height: 8px;
            }

            .queueGroupScroll::-webkit-scrollbar-thumb
            {
                background-color: #bdbdbd;
                border-radius: 4px;
            }

            .queueStep{
                width:100%;
                padding:20px 230px 20px;
                box-shadow:#f0eff0 2px 2px 2px;
            }
            .scrollarea-content{
                min-height:100%;
                .ant-radio-button-wrapper:not(:first-child)::before{
                    background:transparent;
                }
            }
        }
        .queuePlan{
            .inlineTypeSwitch{
                margin-top:20px;
                .ant-switch{
                    margin:0 10px 0 32px;
                }
                span{
                    line-height:22px;
                }
            }
            .queueContent{
                .queueContentTitle{
                    padding-left:86px;
                    margin:20px 0;
                }
                .ant-checkbox-group{
                    display:inline-block;
                    padding-left:144px;
                    .ant-checkbox-group-item{
                        span{
                            padding-right:0;
                        }
                    }
                    .ant-checkbox-group-item:nth-child(1){
                        margin-right:100px;
                    }
                }
                .ant-input-number{
                    margin-left:10px;
                    width:55px;
                }
                .ant-radio-group{
                    padding-left:144px;
                    .ant-radio-wrapper:nth-child(1){
                        margin-right:44px;
                    }
                }
            }
        }
    }
    .queueGroupFooter{
        position:absolute;
        bottom:0;
        width:100%;
        padding:0.1rem 0.1rem;
        border-top:1px solid #ccc;
        .ant-btn{
            float:right;
            margin-left: 15px;
        }
    }
    .queueTabs{
        height:100%;
        .ant-tabs-bar{
            margin-bottom:0.1rem;
            .ant-tabs-nav-scroll{
                padding:0.08rem 0 0 22px;
            }
        }
        .ant-tabs-content{
            .createQueuePlan{
                padding:0 0 0.1rem 22px;
                .ant-btn-primary{
                    height:26px;
                    line-height: 26px;
                }
            }
        }
        .queueListBox{
            padding:0 10px;
            height:100%;
            .queueListOperate{
                i:nth-child(2){
                    margin-left:0.15rem;
                }
            }
            .ant-table-wrapper .ant-table-content .ant-table-body .ant-switch{
                margin:0;
            }
            .ant-table-thead > tr > th{
                padding:0.04rem 0.08rem;
                line-height:0.24rem;
            }
            .ant-table-tbody > tr > td{
                padding:0.02rem 0.08rem;
                line-height:0.24rem;
            }
            .ant-spin-container{
                .ant-table-pagination{
                    margin:0.09rem 0 0.07rem 0;
                }
            }
        }
        .queueWord{
            height:100%;
            .defaultWord{
                height:50px;
                width:596px;
                line-height:50px;
                border:1px solid #ccc;
                padding-left:12px;
                margin:0.1rem 0;
                color: #9a9a9a;
            }
            .disabledDefault {
                background-color: #f7f7f7;
                color: rgba(0,0,0,.25);
            }
            .ant-switch{
                margin:0 10px 0 0;
            }
            .queue-footer{
                position:absolute;
                bottom:0;
                width:100%;
                text-align:right;
                padding:0.1rem 0.1rem;
                border-top:1px solid #e9e9e9;
            }
        }
        .queueRules{
            height: 100%;
            .queueStatus{
                bottom: 12px;
                right: 85px;
            }
            .queueRulesTitle{
                margin:0 0 20px 43px;
            }
            .ant-switch{
                margin:0 10px 0 0;
            }
            .queueRulesContent{
                margin:0 0 15px 43px;
                .ant-input-number{
                    margin:0 6px;
                }
                .ant-select{
                    margin-right:6px;
                }
            }
        }
    }
}

.ant-form-explain{
    display: inline-block;
    margin-left: 10px;
}