.consultativeEvaluation {
    position: relative;
    box-sizing: border-box;
    .oneWrap_company{
        height: 100%;
        .ant-tabs-content{
            height: -moz-calc(100% - 36px);
            height: -webkit-calc(100% - 36px);
            height: calc(100% - 36px);
            .evaStatus {
                bottom: 16px;
                right: 105px;
            }
        }
        .ant-tabs{
            height:100%;
        }
    }
    .evaluateLevelBox {
        height: 50px;
        width: 100%;
        padding-left: 27px;
        position: relative;
        span {
            line-height: 50px;
        }
        .radioBox {
            margin: 0;
            position: absolute;
            top: 0;
        }
        .sameRadio {
            margin: 0 0 0 20px;
            height: 50px;
        }
    }
    .ant-tabs-bar {
        padding-left: 27px;
        margin-bottom: 0;
    }
    .ant-tabs-nav {
        .ant-tabs-ink-bar{
            width: 74px;
        }
        .ant-tabs-tab {
            padding: 8px 10px;
        }
    }

    .evaluationContent {
        height: 100%;
        overflow: hidden;
        .content {
            width: 100%;
            height: 100%;
            float: left;
            .scrollarea-content  {
                margin-left: 28px;
                margin-right: 28px;
            }
            .ant-form-item-with-help{
                margin-bottom: 7px;
            }
            .evaluateContentBox{
                border: 1px solid #e9e9e9;
                margin-top: 16px;
                .evaluateValueTitle{
                    padding: 5px 0 5px 20px;
                    box-sizing: border-box;
                    background-color: #f5f5f5;
                    margin-bottom: 16px;
                    border-bottom: 1px solid #e9e9e9;
                    .evaluateTypeTitleForm {
                        display: inline-block;
                        height: 32px;
                        .has-feedback {
                            width: 200px;
                            height: 42px;
                        }
                        .ant-form-explain {
                            position: absolute;
                            right: -178px;
                            top: 8px;
                        }
                    }
                    .evaluateTypeTitleIpt {
                        width: 200px;
                        padding-right: 30px;
                    }
                    .evaluateTypeTitleSpan {
                        width: calc(100% - 54px);
                        line-height: 32px;
                        display: inline-block;

                    }
                    .ant-form-item {
                        margin-bottom: 0;
                    }
                }

                .answerSetStyle{
                    margin-bottom: 5px;
                    .ant-col-2{
                        width: 80px;
                    }
                    .ant-col-12{
                        width: 80%;
                    }
                }
            }

            .sameFormExplainIpt {
                .ant-col-10{
                    width: 440px;
                }
                .ant-col-2{
                    width: 80px;
                }
                .ant-form-item-control-wrapper {
                    position: relative;
                    height: 40px;
                }
                .ant-form-explain {
                    margin-top: 0;
                    position: absolute;
                    right: -234px;
                    top: 8px;
                }
                .has-error {
                    .ant-form-explain {
                        display: block;
                        margin-left: 0;
                        margin-top: 0;
                        height: 18px;
                    }
                }
            }

            .sameFormExplainBox {
                .ant-col-2{
                    width: 80px;
                }
                .ant-col-12{
                    width: 520px;
                }
                .ant-form-explain {
                    display: block;
                    margin-left: 0;
                }
                .optionNameStyle {
                    .ant-form-explain {
                        /*display: none;*/
                        position :absolute;
                        left: 0;
                        top: 32px;
                        width: 112px;
                    }
                    .has-success.has-feedback:after, .has-error.has-feedback:after {
                        display: none
                    }
                }
            }

            .submitEvaContent{
                margin-left: -28px;
            }
            .levelPointStyle {
                position: relative;

                .ant-form-explain{
                    position: absolute;
                    right: -170px;
                    top: 7px;

                }
                .ant-checkbox-group-item {
                    margin-right: 0;
                    height: 32px;
                    .ant-checkbox {
                        line-height: 18px;
                    }
                }
                .ant-input {
                    padding: 0 2px;
                }
            }
            .evaButtonStyle {
                margin-top: 20px;
                .has-error .ant-form-explain{
                    display: block;
                    margin-left: 0;
                }
                .ant-col-2{
                    width: 92px;
                    text-align: left;
                }
                .ant-form-item-control-wrapper{
                    position: relative;
                    width: 254px;
                    .ant-form-explain{
                        position: absolute;
                        right: -406px;
                        top: 8px;
                    }
                }
            }
            .weChatShowTipStyle {
                .weChatShowTipContent {
                    margin-top: 0;
                    padding-left: 21px;
                    position: relative;
                    color: #a9a9a9;
                    i {
                        position: absolute;
                        left: 0;
                        top: 1px;
                        color: #1b85db;
                    }
                }
            }
            .contentTitleBox {
                line-height: 32px;
                padding-left: 14px;
                margin-left: -18px;
                border-left: 4px solid #067ad8;
                color: #404040;
            }
            .weChatShowStyle {
                margin-top: 20px;
            }
            .evaluateValueTitle {
                width: 100%;
                .ant-switch{
                    margin: -2px 10px 0 0;

                }
            }

            .ant-form {
                .titleIpt {
                    margin-top: 20px;
                    .ant-form-item-control {
                        width: 340px;
                        position: relative;
                        .ant-form-explain{
                            position: absolute;
                            right: -335px;
                            top: 9px;
                        }
                    }
                    .ant-form-item-label {
                        width: 56px;
                        margin-right: 10px;
                    }

                }
                .ant-row {
                    .ant-form-item-label label:after {
                        content: '';
                    }
                    .ant-col-3 {
                        text-align: right;
                        margin-right: 21px;
                    }
                    .ant-col-4 {
                        text-align: right;
                        margin: 8px 11px 0 0;
                        width: 140px;
                    }
                }
            }

            .submitEvaContent {
                position: absolute;
                background: #fff;
                bottom: 0;
                right: 0;
                margin-bottom: 0!important;
                height: 64px;
                width: 100%;
                border-top: 1px solid #e9e9e9;
                .submitBtn {
                    float: right;
                    margin-top: 19px;
                    margin-right: 20px;
                    height: 28px;
                    font-size: 12px;
                }
            }
        }
        .preview {
            width: 30%;
            float: left;
            padding: 25px;
            .ant-card {
                width: 70%;
                margin: 15px auto;
                .ant-card-head {
                    background: #fafafa;
                    height: 35px;
                    border-bottom: none;
                    padding-left: 12px;
                    h3 {
                        font-size: 0.12rem;
                        line-height: 35px;
                    }
                }
                .ant-card-body {
                    padding: 0;
                    .ant-radio-group {
                        overflow: hidden;
                        margin: 0 auto;
                        padding-top: 18px;
                        .ant-radio-wrapper {
                            display: block;
                            color: #666;
                            text-align: left;
                            margin-right: 0;
                            margin-bottom: 13px;
                        }
                        .ant-radio-wrapper-checked {
                            color: #343434;
                        }
                    }
                    p {
                        font-size: 0.12rem;
                        background: #fafafa;
                        line-height: 35px;
                        text-align: left;
                        padding-left: 12px;
                    }
                    .previewFooter {
                        text-align: center;
                        background: #fafafa;
                        padding: 8px 0;
                        .ant-btn {
                            width: 95px;
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
    .evaluationTop {
        padding: 20px 25px;
        height: 100%;
        .evaluationStyleBox{
            border: 1px solid #e9e9e9;
            margin-bottom: 20px;
            .evaluationTitleBox{
                background-color: #f5f5f5;
                padding: 0 20px;
                box-sizing: border-box;
                border-bottom: 1px solid #e9e9e9;
                .ant-form-item{
                    margin-bottom: 0;
                    .ant-form-item-control{
                        height: 42px;
                        line-height: 42px;
                    }
                }
            }
        }
        .evaluateSwitchStyle {
            margin-left: 22px;
        }
        .msgCount {
            float: left;
            width: 49px;
            margin-right: 8px;
        }
        .finalEndApply {
            padding-left: 20px;
            margin-top: 8px;
            .ant-col-2 {
                width: 80px;
                line-height: 20px;
                label:after {
                    content: "";
                }
            }
            .ant-col-4 {
                width: 200px;
                margin-top: -6px;
                .ant-form-item-control{
                    .ant-form-explain{
                        position: absolute;
                        right: -160px;
                        top: 8px;
                    }
                }
                .has-error {
                    .ant-form-explain {
                        margin-left: 0;
                        display: block;
                    }
                }

            }
        }
        .ant-form-item {
            margin-bottom: 5px;
            .ant-switch {
                margin-left: 0;
            }
        }
        .head-name {
            display: inline-block;
            line-height: 32px;
        }
        .ant-input-group {
            padding-left: 20px;
            margin-top: 10px;
            .ant-col-5, .ant-col-2, .ant-col-6, .ant-col-3 {
                line-height: 34px;
                text-align: left;
            }
            .ant-col-1 {
                .ant-input-number {
                    width: 50px;
                }
            }
            .ant-col-2 {
                width: 56px;
            }

            .ant-col-5 {
                width: 136px;
            }
            .ant-col-6, .ant-col-3 {
                width: 240px;
            }
        }
        .submitEvaContent {
            position: absolute;
            background: #fff;
            bottom: 0;
            right: 0;
            margin-bottom: 0!important;
            height: 64px;
            width: 100%;
            border-top: 1px solid #e9e9e9;
            .submitBtn {
                float: right;
                margin-top: 19px;
                margin-right: 20px;
                height: 28px;
                font-size: 12px;
            }
        }
    }
    .footer {
        height: 64px;
        width: 100%;
        border-top: 1px solid #e9e9e9;
        text-align: right;
        line-height: 74px;
        .ant-btn {
            margin-right: 15px;
        }
    }
}




