.kpi .topRight{
   height:100%;
   margin:0px;
   padding:0px;
   line-height:0!important;
   width:auto;
    .topRight_left{
        margin: 14px;
        height:calc(100% - 28px);
    }
    .topRight_right{
        margin: 14px 10px 14px 0;
        height:calc(100% - 28px);
    }
}
