$clickColor:#0684ea;
$font-color:#565656;
$font-family: MicrosoftYahei;

.helpCenter{
  width:100%;
  height:100%;
  font-family:$font-family;
  .help_box{
    position:relative;
    height:460px;
    margin:92px 20px;
   .left_HelpCenter{
      margin-top:30px;
      width:63%;
      height:430px;
      float:left;
      .text{
        font-size:36px;
        color:#474747;
        margin:10px 0;
        line-height:36px;
        font-weight:bolder;
      }
      .changeText{
        font-size:28px;
        line-height:28px;
        color:$font-color;
        margin:18px 0;
      }
      .colorText{
        font-size:28px;
        line-height:28px;
        color:$clickColor;
      }
      .account{
         margin:30px 0;
         border:1px dashed #0684ea;
         height:263px;
         border-radius:15px;
         padding:30px 0px 10px 20px;
         .accountLogo{
           float:left;
           margin:10px 35px 0 0;
         }
         .accountInfo{
           float:left;
           .info{
             list-style:none;
             line-height:24px;
             font-size:16px;
             color:$font-color;
           }
         }
      }
    }
   .right_HelpCenter{
      margin-left:20px;
      width:25%;
      height:460px;
      float:left;
     .notice-board{
        font-size:24px;
        height:56px;
        background:#ecf5fd;
        color:#525252;
        text-align:center;
        line-height:48px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      .noticeInfo{
        height:404px;
        background:#f5fafe;
        color:$clickColor;
        font-size:16px;
        padding:20px 0 0 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .notice{
        text-align:center;
        color:$clickColor;
        line-height:24px;
        font-size:16px;
        display:block;
        text-decoration: none;
      }
    }
    .visitorIcon{
      position:absolute;
      top:422px;
      right:10px;
      z-index:10000;
    }
  }

}
