.rolemanager {
    height:100%;
    .roleMessageSetting {
        .roleMessageScroll {

        }
    }
    .rolemanager-head {
        width: 100%;
        padding: 0.1rem 0.09rem;
        position: relative;
        .ant-btn-primary {
            height: 0.28rem;
        }
        input {
            width: 140px;
            float: right;
            margin-right: 15px;
            padding-right: 23px;
        }
        i {
            position: absolute;
            top: 12px;
            right: 20px;
            padding-left: 3px;
            border-left: 1px solid #d2d8db;
        }
    }
    .rolemanager-body {
        width: 100%;
        height: calc(100% - 0.48rem);
        position: relative;
        .roleScrollArea {
            height: 100%;
            padding: 0 0.08rem 0 0.06rem;
        }
        .ant-input {
            width: 50px;
            margin-left: 5px;
        }
        .info-num {
            position: relative;
            bottom: 40px;
            display: inline-block;
            span {
                color: #067ad8;
                margin: 0 10px;
            }
        }
        span.goto {
            position: absolute;
            right: 10px;
            bottom: 34px;
        }
        .editor {
            i {
                margin-right: 0.15rem;
                cursor: pointer;
            }
            span {
                cursor: pointer;
            }
        }


        .ant-table-wrapper {
            tbody tr td .ant-switch {
                margin: 0;
            }

            table{
                table-layout: fixed;
                width: 100%;
                .ant-table-thead tr th {
                    padding: 0.07rem 0.08rem;
                }
                .ant-table-tbody tr td {
                    padding: 0.05rem 0.08rem;
                }
            }
            .ant-table-pagination {
                margin: 0.09rem 0 0.07rem 0;
            }
        }



        .roleListStyle {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-word;
        }
    }
}

.quality-testing-remove {
    .remove-icon {
        color: #f2af32;
        position: relative;
        top: 6px;
        margin: 0 25px 0 24px;
        i {
            font-size: 0.3rem;
        }
    }
    .ant-modal-footer {
        border: 0;
        padding: 34px 30px 20px 0;
    }
}

.rolemanagerlist {
    .rolemanagerlist-head {
        position: relative;
        input {
            width: 140px;
            float: right;
            margin-right: 15px;
            padding-right: 23px;
        }
        i {
            position: absolute;
            top: 2px;
            right: 20px;
            padding-left: 3px;
            border-left: 1px solid #d2d8db;
        }
    }
    .rolemanagerlist-body {
        margin-top: 15px;
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
            padding: 16px 8px;
        }
    }
}

.list-table .ant-modal-footer {
    border: 0;
}

.fast-role-manager {
    padding: 9px;
    height: 463px;
    .fast-head {
        height: 35px;
        line-height: 35px;
        border-bottom: 1px solid #d2d7df;
        padding: 0 12px;
        .btn {
            float: right;
            i {
                margin-left: 10px;
            }
        }
    }
    .fast-body {
        .ant-tree li {
            padding: 12px 0;
        }
    }
    .fast-role-manager-left {
        width: 370px;
        height: 445px;
        border: 1px solid #d2d7df;
        border-radius: 6px;
        float: left;
    }
    .fast-role-manager-right {
        width: 220px;
        height: 445px;
        border: 1px solid #d2d7df;
        border-radius: 6px;
        float: right;
    }
}

.findrolemanager {
    .findrolemanager-head {
        line-height: 30px;
        margin-bottom: 10px;
        p {
            span {
                margin: 0 0 0 25px;
            }
        }
    }
}

.ant-tabs-tabpane-active .card-container {
    margin: 20px 0;
    .ant-tabs {
        height: auto;
        .ant-tabs-content .ant-tabs-tabpane-active {
            height: auto;
        }
    }
    .accountTreeBox {
        display: inline-block;
        margin-bottom: 0;
    }
    .fieldCheckStyle{
        width: 80px;
        margin-top: 7px;
        position: relative;
        .ant-checkbox {
            position: absolute;
            top: 2px;
        }
        .fieldNamePopover {
             max-width: 65px;
             height: auto;
             word-wrap: break-word;
         }
        .fieldName {
            display: inline-block;
            width: 65px;
            margin-left: 14px;
        }
    }
    .showSelfOnly{
        margin-left: 20px;
        margin-top: 7px;
    }
}

.ant-modal.roleErrorTip{
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -85px;
    .ant-modal-body{
        margin: 0;
    }

}
