.personalise {
    .has-error .ant-form-explain{
        position: relative;
        margin-left: 0;
        right: -2.17rem;
        display: block;
        top: -0.19rem;
    }
    .ant-col-12{
        width: 39%;
    }
}

.information{
    .signatureFormItem{
        .ant-form-explain{
            top: -0.19rem;
            right: -2.17rem;
        }
        .ant-input::-webkit-scrollbar
        {
            width: 8px;
            height: 8px;
        }

        .ant-input::-webkit-scrollbar-thumb
        {
            background-color: #bdbdbd;
            border-radius: 4px;
        }
    }
    .has-success.has-feedback:after, .has-warning.has-feedback:after,
    .has-error.has-feedback:after, .is-validating.has-feedback:after{
        height: 0.23rem;
        line-height: 0.23rem;
    }
    .userInfoFormItem {
        .ant-form-item-control {
            height: 0.23rem;
            margin-bottom: 10px;
        }
    }
}
