.userGroupSetting {
    height: 100%;
    .ant-tabs{
        height:100%;
        .ant-tabs-content{
            height:calc(100% - 116px);
            .ant-tabs-tabpane{
                height: 100%;
                .tagWrapper{
                    width:100%;
                    padding:0 20px;
                }
                .faqsetting_maincontent_left {
                    height: 100%;
                }
                .backWrapper{
                    position:absolute;
                    width:100%;
                    border-top:1px solid #e9e9e9;
                    right:0;
                    bottom:0;
                    padding:0.14rem 0;
                    .saveBtn{
                        float:right;
                        margin-right:20px;
                    }
                    .backBtn{
                        float:right;
                        margin-right:20px;
                    }
                }
            }
            .newReceptionBtn {
                margin-top: 5px;
            }
        }
    }
    .ant-tabs-bar {
        margin-bottom: 0.05rem;
    }
    .ant-input::-webkit-scrollbar
    {
        width: 8px;
        height: 8px;
    }

    .ant-input::-webkit-scrollbar-thumb
    {
        background-color: #bdbdbd;
        border-radius: 4px;
    }
}
.userGroupReply{
    margin-top: 0.05rem;
    padding: 0 20px;
    .answerBox {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        .answerUseableSwitch {
            float: right;
            .ant-form-item-control {
                line-height: 38px;
            }
        }
        .ant-form-item-with-help {
            .ant-form-explain {
                position: absolute;
                right: 110px;
                top: 60px;
            }
        }
    }
    .ant-card-body{
        padding: 0;
        height: 122px;
    }
    .cardTitle_per{
        width: 100%;
        height: 44px;
        line-height: 44px;
        background-color: #fafafa;
        padding-left: 14px;
    }
    .ant-input-lg{
        padding: 0 12px;
    }
    .ant-input-number{
        width: 39px;
    }
    .wordNum{
        text-align: right;
        padding-right: 20px;
    }
    .ant-input-number-lg {
        //height: 28px;
        input{
            height: 32px;
        }
        .ant-input-number-handler-wrap{
            height: 28px;
        }
        .ant-input-number-input-wrap{
            height: 28px;
        }
    }
}

.userGroupSettingWrapper{
    margin-top: 80px;
    text-align: center;
    i, span{
        vertical-align: middle;
    }
}
