.recording{
  line-height: 25px;
  background-color: #fff;
  cursor: pointer;
  height: 100%;
  .ant-btn{
    margin-top: 6px;
  }
  .systemTime{
    line-height: 38px;
      border-top: 1px #e5e5e5 solid;
  }

  .ant-table-row-level-0:nth-child(odd){
    background-color: rgb(247,250,255)
  }
  .clearfix{
    .ant-table-tbody > tr > td{
      padding: 0;
      border-bottom: 0;
    }
    .ant-table-pagination{
      position: fixed;
      z-index: 10;
      top: 0;
      right: -190%;
      margin: 4px 0 4px 2px;
    }
  }
  .ant-table-row{
    .messageCon{
      padding: 25px 5px 0 34px;
    }
    td:nth-child(2){
      border: none;
      position: absolute;
      right: 20px;
      padding: 0;
    }
    td:nth-child(1){
      border: none;
      position: absolute;
      width: 100px;
      padding: 0;
    }
  }
}
