.userTabs {
    .ant-table {
        overflow: inherit;
    }
    .react-context-menu-wrapper{
        height: 100%;
    }
    .ant-table table {
        overflow: inherit;
    }

    .ant-table-tbody > tr > td {
        padding-left: 0;
    }

    .consultinfo_container {
        overflow: hidden;
        background-color: #fff;
        .information_consult {
            overflow: hidden;
            border-bottom: 1px solid rgb(231, 230, 231);
            span {
                float: left;
            }
            .information_consult_userName{
                width: 120px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                line-height: 30px;
                padding-left: 30px;
            }
            .information_consult_cooperateData{
                margin-left: 10px;
                line-height: 30px;
            }
            .coopOperateWrapper{
                line-height: 30px;
                padding-right: 0.2rem;
                float: right;
            }
            .cancelBtn{
                line-height: 30px;
                padding-right: 0.2rem;
                float: right;
                cursor: pointer;
            }
        }

        .button {
            padding-left: 0.07rem;
            color: #0675b7;
        }
    }
    .consultinfo_container:hover .close {
        display: block;
    }

    .close {
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -8px;
        height: 16px;
        display: none;
        width: 16px;
        border-radius: 8px;
          background-color: #ff6565!important;
        text-align: center;
        color: #ffffff;
        cursor: default;
    }

    .lastWord {
        color: #9a9fa3;
        font-size: 12px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
        p {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        img {
            max-height: 18px;
            max-width: 18px;
        }
    }

    .gray {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);

        filter: grayscale(100%);

        filter: gray;
    }

    .bigavatar {
        text-align: center;
        position: absolute;
        top: 46%;
        right: 0.16rem;
        display: inline-block;
        line-height: 16px;
        height: 16px;
        background: rgba(255, 80, 71, 0.98);
        border-radius: 6px;
        color: white;
        cursor: default;
        padding: 0 6px;
    }
    .smallavatar {
        text-align: center;
        display: inline-block;
        line-height: 18px;
        width: 25px;
        height: 18px;
        background: rgba(255, 80, 71, 0.98);
        border-radius: 6px;
        color: white;
        cursor:default;
    }
    position: relative;
    .userTabsTop {
        height: 100%;
        .tabPaneStyle {
            .ant-tabs-bar {
                .ant-tabs-nav-container {
                    .ant-tabs-nav-wrap{
                        margin-bottom: 0;
                    }
                    .ant-tabs-nav{
                        width: 100%;
                    }
                    .ant-tabs-nav .ant-tabs-tab-active{
                        background-color: #f2f2f2;
                        border-radius: 4px;
                    }
                    .ant-tabs-ink-bar {
                        display: none!important;
                    }
                }
            }
        }
    }
    .userTabsBottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.43rem;
        border-top: 1px solid #ccc;
        line-height: 0.43rem;
        span {
            margin-left: 0.13rem;
        }
        .ant-btn {
            width: 0.87rem;
            height: 0.26rem;
            line-height: 0.26rem;
            float: right;
            margin: 0.085rem 0.13rem 0 0;
            span {
                margin-left: 0;
            }
        }
    }
    .ant-tabs-content {
        position: static;
        height: 100%;
        padding-top: 55px;
    }
    .ant-tabs-bar {
        margin-bottom: 0;
        padding: 8px 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        background: #fff;
        font-weight: 700;
        height: 55px;
    }
    .ant-tabs-mini .ant-tabs-tab {
        padding: 9px;
        text-align: center;
        width: 33%;
        .ant-tabs-tab-inner {
            height: 35px;
            line-height: 35px;
            font-size: 0.14rem;
            margin-top: 10px;
            border-right: 1px solid #ccc;
        }
    }
    .bars {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 9;
        cursor: pointer;
        height: 55px;
        line-height: 53px;
    }
    .ant-table {
        border-radius: 0;
        table {
            border-radius: 0;
        }
    }

    .ant-table td {
        border-bottom: 1px solid #e7e6e7;
    }

    .ant-table td:first-child {
        width: 60px;
        padding: 4px 6px 4px 0;
        border-left: 6px solid rgba(255, 255, 255, 0);
    }

    .session td:first-child {
        border-left: 6px solid #067ad8;
    }

    .endline td:first-child {
        border-left: 6px solid #8c8c8c;
    }

    .ant-tabs-tabpane {
        height: calc(100% - 10px);
    }
}

.unreadCountOutStyle {
    background: rgb(255, 252, 237);
    border-radius: 0;
}

.selectStyle {
    background: rgb(247, 251, 255);
    border-radius: 0;
}

.noSelectStyle {
    background: rgb(255, 255, 255);
    border-radius: 0;
}

.ant-table-tbody > tr > td {
    padding: 8px;
}

.userCon {
    width: calc( 100% - 0.42rem);
    display: inline-block;
    .tooltip-name-box, .tooltip-word-box {
        position: relative;
    }
    .tooltip-name-box{
        .getIconWrapper{
            position: relative;
            float: right;
            cursor: default;
        }
        i.icon-zixunzongjie{
            float: right;
            line-height: 28px;
            font-size: 19px;
            padding: 0;
            margin-top: -1px;
        }
        i.icon-yaoqing, i.icon-zhuanjie{
            float: right;
            padding: 0;
            font-size: 16px;
        }
        i.icon-heimingdan{
            padding: 0;
            font-size: 19px;
            float: right;
        }
    }
    .chatStatusImg{
        float: right;
        margin-top: 5px;
        margin-left: 0.029rem;
    }
    .user-Tooltip {
        display: none;
        position: absolute;
        top: 25px;
        padding: 10px 5px;
        width: 240px;
        border: 1px solid #E3E3E3;
        box-shadow: 0 0 2px 0 #ccc;
        background: #fff;
        z-index: 10;
    }
    .user-name {
        color: #575958;
        font-size: 15px;
        font-weight: 700;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
        margin-top: 4px;
   }
    .user-address{
        margin-left: 8px;
    }
   .clear:after {
       content: '\20';
       display: block;
       height: 0;
       clear: both;
   }
    .clear {
        float: right;
        *zoom: 1;
    }
    .iconfont {
        color: #b1bdbd;
        padding-left: 12px;
    }
}

.icon_lists li {
    float: left;
    width: 14px;
    height: 14px;
    text-align: center;
    margin: 3px;
    .ant-tooltip-content {
        .ant-tooltip-inner {
            font-size: 12px;
            height: 20px;
            padding: 2px 5px;
            min-height: 0;
        }
    }
}

.icon_lists .icon {
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0;
    color: #333;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    transition: font-size 0.25s ease-out 0s;
}

.VisitorLogo {
    box-shadow: none;
}

.ant-table-row td:first-child {
    position: relative;
}

.ant-table-row {
    .ant-tag {
        width: 36px;
        height: 20px;
        padding: 0;
        text-align: center;
        line-height: 20px;
        display: block;
    }

    .ant-tag:nth-child(2) {
        margin-top: 20px;
    }
}

.react-context-menu {
    width: 150px;
    background: #fff;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px #ccc;
    p {
        padding-left: 15px;
    }
    p:hover {
        background: #eaf8fe;
    }
}

.react-context-menu .react-context-menu-item a {
    line-height: 32px;
    color: #747474;
}

#body {
    .ant-tooltip-content {
        .ant-tooltip-inner {
            font-size: 12px;
            height: 20px;
            padding: 2px 5px;
            min-height: 0;
        }
    }
    .take-over {
        position: fixed;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
        border-radius: 4px;
        background: #fff;
        z-index: 100;
        padding: 30px 34px 18px;
        white-space: nowrap;
        width: 376px;
        .icon {
            font-size: 0.3rem;
            display: inline-block;
            float: left;
            margin-right: 16px;
            line-height: 1;
        }
        p {
            margin-top: 8px;
            margin-left: 46px;
        }
        .footer {
            float: right;
            margin-top: 30px;
            .ant-btn-primary {
                margin-left: 10px;
            }
        }
    }
}

.well {
    .icon-009cuowu{
        display: none;
    }
    .consultinfo_container:hover .icon-009cuowu {
        display: block;
    }

    .unread {
        background-color: rgb(255, 253, 217);
    }
    .online .normalColumnWrap .source {
        padding-left: 0.03rem;
    }
    .offline .normalColumnWrap {
        border-left: 0.03rem solid #8c8c8c;
    }
}

.selected {
    background-color: #f7fbff;
}
