
.clearFix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.usualTIpsStyle{
    height: calc(100% - 27px);
    padding-left: 10px;
    padding-top: 0.07rem;
    .ant-checkbox-wrapper{
        position: absolute;
        bottom: 0.07rem;
    }
}
.usualTIpsStyleLeft {
  .searchValueBox {
    height: 32px;
    Button {
      margin-left: 5px;
      margin-top: 5px;
        line-height: 20px;
        i{
            font-size: 16px;
        }
    }
    .searchSelect {
      width: 24%;
      height: 32px;
      float: left;
    }
    .searchIpt {
      float: left;
      width: 64%;
      height: 32px;
      margin-left: 2%;
        .ant-input-suffix{
            width: 29px;
            height: 29px;
            right: 1px;
            text-align: center;
            i{
                position: absolute;
                top: 50%;
                margin-top: -7px;
                left: 50%;
                margin-left: -7px;
                color: #fff;
            }
        }
    }
  }
}


.usualTIpsStyleRight{
    padding-bottom: 10px;
    box-sizing: border-box;
    height: calc(100% - 32px);
    .ant-tree > li{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ant-tree{
        padding-right: 8px;
        li{
            span.ant-tree-node-content-wrapper{
                width: calc(100% - 24px);
                span{
                    width: 100%;
                }
            }
        }
    }
    a{
        display: inline-block;
        width: calc(100% - 35px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .popoverStyle{
        max-width: 135px;
        height: auto;
        word-wrap: break-word;
    }
    .groupNameBox{
        width: 344px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .textNameBox{
        width: 344px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .fileBox{
        padding: 5px 0;
        line-height: 24px;
        .fileBoxLeft{
            width: 24px;
            height: 24px;
            text-align: center;
            display: inline-block;
            margin-left: 6px;
            img{
                width: 16px;
                height: 19px;
                vertical-align: middle;
            }
        }
        a{
            padding: 0;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
    .imgBox{
        width:344px;
        padding: 5px 0;
        .imgBoxLeft{
            width: 24px;
            height: 24px;
            text-align: center;
            display: inline-block;
            margin-left: 6px;
            .imgCon{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                vertical-align: middle;
            }
        }
        .img_load_error{
            width: 17px;
            height: 14px;
            vertical-align: middle;
            margin-left: 6px;
        }
        .imgNameCon{
            margin-left: 10px;
            width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
    .fileNameBox{
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a{
            width: 334px;
            padding: 1px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .textTipBox{
        line-height: 24px;
        padding: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .textTipTitle{
            font-weight: bold;
            font-style: normal;
        }
    }
    .ant-tree li{
        margin: 7px 0 6px;
    }
    .ant-tree li span.ant-tree-switcher.ant-tree-noline_open:after, .ant-tree li span.ant-tree-switcher.ant-tree-noline_close:after{
        color: #b5b5b5;
        font-size: 16px !important;
    }
    .ant-tree-child-tree{
        li{
            position: relative;
            margin: 0;
            .ant-tree-switcher{
                display: inline-block;
                position: absolute;
                top: 50%;
                margin-top: -4px;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background: #dcdcdc;
            }
            .ant-tree-node-content-wrapper{
                padding-left: 10px;
            }
        }
    }
}
