.blackListModal{
    .ant-modal{
        padding-bottom: 0;
        position: absolute;
        top: 50%;
        margin-top: -138px;
        left: 50%;
        margin-left: -262px;
        .ant-modal-body{
            padding: 24px 16px;
        }
        .ant-form-item:first-child{
            margin-bottom: 24px;
        }
        .ant-form-item:last-child{
            margin-bottom: 0;
        }
    }
    .ant-input.blackReasonIpt{
        resize: none;
        height: 54px;
    }
    .has-feedback:after{
        display: none;
    }
    .ant-form-explain{
        display: inline;
        position: absolute!important;
        bottom: 0;
        right: 4px!important;
        top: 28px!important;
        margin-left: 0!important;
    }
}
