.infoLeft {
    width: 2.64rem;
    height: 100%;
    overflow: auto;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    .ant-menu-inline > .ant-menu-item,.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
        font-size: 13px;
    }
    .ant-menu-inline{
        border-right: 0;
    }
}
.infoRight {
    width: 100%;
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 0 2.81rem 0 2.64rem;
    .alert_information{
        line-height: 26px;
        background-color: #f6f6f6;
        text-align: center;
        border-radius: 5px;
        width: 28.6%;
        position: absolute;
        left: 50%;
        margin-left: -170px;
        max-width: 435px;
        bottom: calc(1.41rem + 61px);
        .button{
            padding-left: 10px;
            color: #0675b7;
            cursor: pointer;
        }
    }
    .alert_information.alert_information-without-trans {
        bottom: calc(1.41rem + 5px);
    }
    .ConsultInfoView{
        color: #898989;
        font-weight: 600;
    }
    .kfGroupMemberWrapper {
        position: absolute;
        top: -65px;
        display: flex;
        height: 60px;
        max-width: 100%;
        .kfGroupThumbnails {
            z-index: 1;
            canvas {
                border-radius: 30px;
                box-shadow: 0 0 18px #ccc;
            }
        }
        .kfMemberItem {
            display: none;
            .kfItemInfoBox:first-child {
                margin-left: 40px;
            }
            .kfItemInfoBox {
                width: 60px;
                height: 60px;
                text-align: center;
                .kfPortrait {
                    width: 30px;
                    height: 30px;
                }
                .kfNameInfo {
                }
            }
        }

        .kfMemberItem::-webkit-scrollbar
        {
            width: 6px;
            height: 6px;
        }

        .kfMemberItem::-webkit-scrollbar-track
        {
            background-color: transparent;
        }

        .kfMemberItem::-webkit-scrollbar-thumb
        {
            background-color: #bdbdbd;
            border-radius: 4px;
        }
    }
    .kfGroupMemberWrapper:hover {
        .kfMemberItem
        {
            display: flex!important;
            align-items: center;
            flex-grow: 1;
            position: relative;
            left: -30px;
            z-index: 0;
            max-width: calc(100% - 60px);
            height: 100%;
            padding-top: 10px;
            border-radius: 0 8px 8px 0;
            background: #fff;
            overflow-y: hidden;
            overflow-x: auto;
        }
    }
}

.infoAside {
    height: 100%;
    width: 2.81rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.chatpage{
    overflow: hidden;
    outline: none;
    video{
        height: 100%;
        object-fit: fill;
        display: block;
    }
}
.chatPageErrorTipModal{
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    padding: 0!important;
    margin-left: -250px!important;
    margin-top: -141px!important;
}

.headerMiddle{
    height: 0.46rem;
    .headerMiddleInner{
        height: 100%;
        .workStatistics{
            height: 100%;
        }
    }
}

.chatpage{
    background-color: #fff;
}
