/*微博*/
.icon-weibo, .icon-weibowap{

}

/*谷歌*/
i.icon-googlewap, i.icon-google{
    color: #d7422c;
}

/*直接输入*/
i.icon-inputwap, i.icon-input{
    color: #7599ff;
}

/*有道*/
i.icon-youdao, i.icon-youdaowap{
    color: #e9113d;
}

/*友情链接*/
i.icon-link, i.icon-linkwap{
    color: #176dc1;
}

/*雅虎*/
i.icon-yahoo, i.icon-yahoowap{
    color: #64106c;
}

/*搜搜*/
i.icon-soso, i.icon-sosowap{
    color: #3b8ede;
}

/*搜狗*/
i.icon-sogou, i.icon-sogouwap{
    color: #fa4d23;
}

/*必应*/
i.icon-bing, i.icon-bingwap{
    color: #fdb800;
}

/*百度*/
i.icon-baidu, i.icon-baiduwap{
    color: #3648e0;
}

/*360*/
i.icon-360, i.icon-360wap{
    color: #56ad2d;
}

/*IE浏览器*/
i.icon-1072ieliulanqi{
    color: #1ebbee;
}

/*IOS*/
i.icon-ios{
    color: #010101;
}

/*安卓*/
i.icon-android{
    color: #a4ca39;
}

/*APP store*/
i.icon-app{
    color: #3996e5;
}

/*微信*/
i.icon-weixin{
   color: #13b817;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.normalColumnWrap{
    border-bottom: 1px solid #e7e6e7;
    padding: 0.04rem 0.12rem 0.04rem 0;
    position: relative;
    border-left: 0.03rem solid transparent;
    .source{
        display: inline-block;
        vertical-align: top;
        width: 0.42rem;
        height: 100%;
        text-align: center;
        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        i,img{
            font-size: 28px;
        }
    }
    .cuowuIcon{
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -12px;
        color: #ff6664;
    }
}
