.retweetHistoryList {
  padding: 0.029rem 0.14rem;
  cursor: pointer;
  .retweetUserName {
    color: #0177d7;
    vertical-align: middle;
  }
  .retweetCreateTime {
    float: right;
    margin-top: 4px;
  }
  .retweetImg {
    display: inline-block;
    margin-right: 0.08rem;
    height: 14px;
    vertical-align: middle;
  }
  p {
    padding-left: 0.19rem;
    word-break: break-all;
    padding-top: 4px;
  }

  .videoWrap {
    width: 254px;
    height: 144px;
  }
}

.retweetHistoryList:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.chatHistoryListWrapper {
  height: 100%;
  position: relative;
  padding: 0.07rem 0;
  .hyPerMediaMessageWrapper {
    position: relative;
  }
  .historyListInteraction {
    font-family: "Microsoft YaHei";
    .fileMessage {
      position: relative;
      width: 100%;
      height: 39px;
      .suffix {
        width: 39px;
        height: 39px;
        line-height: 39px;
        font-size: 16px;
        text-align: center;
        float: left;
        font-weight: 600;
        border-radius: 8px;
        background-color: #fff;
        margin-right: 12px;
        overflow: hidden;
      }
      .fileMsgBox {
        float: left;
        text-align: left;
        p {
          display: block;
          font-size: 13px;
          padding: 0;
        }
      }
      .downloadBox {
        position: absolute;
        bottom: 0;
        right: 10px;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .converListSelected {
    position: absolute;
    bottom: 0.07rem;
    width: 2.31rem;
    padding-left: 0.14rem;
  }
  .refreshBtn {
    position: absolute;
    bottom: 0.07rem;
    right: 13px;
    line-height: 20px;
    i {
      font-size: 16px;
    }
  }
}
