.robotAssistComp {
    .robotAssistHeader {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 8px;
    }
    .rAImg {
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }
    .rATitle {
        margin: 0 5px 0 10px;
        font-weight: 900;
    }
    .rATips {
        color: #4695da;
    }
}

.rAPopover {
    .ant-popover-inner-content {
        padding: 8px 10px;
    }
}
