.clearFix:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.customer-body{
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        padding:8px;
    }
    .customer-common{
        height: 100%;
        .customer-common-body{
            border-bottom:1px solid #e9e9e9;
            .ant-form-item-label label:after{
                display:none;
            }

            .groupName{
                margin-bottom:17px;
                padding-left: 115px;
                .ant-col-3{
                    width:130px;
                }
                .ant-col-15 {
                    width: 80%;
                }
                .groupNameIpt {
                    width: 435px;
                }
            }
            .ant-form-item-with-help{
                margin-bottom:17px;
            }
            .customerBox{
                padding-left:83px;
                .customerSelectGroup {
                    width: 335px;
                    margin-left: 10px;
                }
                .ant-form-item{
                    margin-bottom:0;
                }
                .ant-form-item-with-help{
                    margin-bottom:0;
                }
                .customerTitle{
                    float:left;
                    padding-top:7px;
                }
                .customerSelect{
                    float:left;
                    margin-left:10px;
                    .customerTypeRadio {
                        display: block;
                        min-height: 32px;
                        line-height: 32px;
                    }
                    .ant-radio-wrapper{
                        margin-bottom:17px;
                        width:20px;
                    }
                    .ant-form-item{
                        display:inline-block;
                    }
                    .ant-col-3{
                        width:90px;
                    }
                    span.ant-radio + *{
                        padding-left:0;
                    }
                    .filterType{
                        width:90px;
                        margin-left:10px;
                    }
                }
            }
        }

        .customer-common-table{
            padding:0 10px 0 0;
            min-height: 330px;
            .customerTable{
                padding: 0 10px;
                tr{
                    height:45px
                }
                .editConversationNum{
                    min-width:80px;
                    .customerTableIpt {
                        max-width: 80px;
                    }
                    .ant-input{
                        margin:0;
                        padding:0;
                    }
                }
            }

        }
        .customer-title{
            display:inline-block;
            width:120px;
            text-align:right;
        }
        .ant-input{
            margin-left:10px;
        }
    }
    .customer-spare{
        .customer-spare-body{
            border-bottom:1px solid #e9e9e9;
            padding-bottom:15px;
        }
        .customer-title{
            display:inline-block;
            width:120px;
            text-align:right;
        }
        .ant-checkbox-group{
            display:inline-block;
            margin-left:15px;
        }
    }
    .screen{
        .makeusers-body{
            padding:30px 0;
            .new-didtribute > .and{
                display:inline-block;
                width:40px;
                height:30px;
                text-align:center;
                line-height:30px;
                background:rgb(93, 174, 244);
                border-radius:4px;
                color:#fff;
                position:relative;
                bottom:20px;
                right:20px;
            }
            .new-didtribute{
                border-left:1px dashed #dae0e7;
                margin:0 0 0 175px;
                .circle{
                    display:inline-block;
                    width:10px;
                    height:10px;
                    border-radius:5px;
                    background:#5daef4;
                }
                .queueList{
                    position:relative;
                    bottom:15px;
                    margin-bottom:50px;
                    .queueList-border{
                        display:inline-block;
                        width:20px;
                        height:30px;
                        position:relative;
                        top:16px;
                        border-top:1px dashed #dae0e7;
                    }
                    .queueList-top{
                        position:absolute;
                        left:-6px;
                        top:0px;
                        .queueList-btn{
                            padding-left:26px;
                            cursor:pointer;
                            .and, .or{
                                display:inline-block;
                                width:40px;
                                height:30px;
                                text-align:center;
                                line-height:30px;
                            }
                            .and{
                                border-radius:4px 0 0 4px;
                            }
                            .or{
                                border-radius:0 4px 4px 0;
                            }
                        }
                    }
                    .queueList-bottom{
                        position:absolute;
                        left:0;
                        bottom:-65px;
                        width:100%;
                        padding-left:30px;
                        .ant-form-item{
                            display:inline-block;
                            margin-right:10px
                        }
                        .icon{
                            position:relative;
                            top:3px;
                        }
                    }
                }
                .queueManage-card-head{
                    margin-bottom:30px;
                    .circle{
                        position:relative;
                        right:6px;
                    }
                }
                .queueManage-card-foot{
                    position:relative;
                    top:20px;
                    right:4px;
                    span{
                        cursor:pointer;
                    }
                }
            }
            .makeusers-body-names{
                display:inline-block;
                width:150px;
                text-align:right;
                margin-right:15px;
            }
        }
    }
}
.customer-body{
    height: 100%;
    .ant-tabs-bar{
        height:42px;
        padding-left:58px;
        border-bottom:1px solid #d9d9d9;
        .ant-tabs-tab{
            height:42px;
            width:74px;
            padding:8px 0;
            text-align:center;
        }
    }
}
.has-error .ant-form-explain{
    position:relative;
    top:-24px;
    right:-360px;
}
.ant-pagination-options-quick-jumper input{
    text-align:center;
}
.settingRight .customer-group .company-footer{
    position:relative;
    width:100%;
    border-top:1px solid #e9e9e9;
    padding:20px 0;
    top:22px;
    right:0px;
    overflow:hidden;
}
.settingRight .makeusers .company-footer{
    position:relative;
    width:100%;
    border-top:1px solid #e9e9e9;
    padding:20px 0;
    right:0px;
    overflow:hidden;
}

.customerSelect{
    label:nth-child(1),label:nth-child(2){
        span:nth-child(2){
            div{
                .customerSelectGroup{
                    width: 435px !important;
                }
            }
        }
    }
}