.clearFix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.distribution {
    min-width: 724px;
    height: 100%;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
    .distri-make {
        .customer-group {
            .distributeStep {
                width: 100%;
                padding: 0 50px 20px;
                box-shadow: #f0eff0 2px 2px 2px;
            }
        }
    }
    .distribution-head {
        padding: 0 20px;
        Button {
            height: 32px;
        }
        /*Button:last-child {
            float: right;
        }*/
    }
    .distribution-item {
        position: relative;
        margin: 20px 20px 0 20px;
        height: 100px;

        .distribution-item-card {
            width: 100%;
            position: relative;
            background: #fff;
            .distribution-item-operate {
                height: 100px;
                position: absolute;
                right: 0;
                bottom: 0;
                line-height: 100px;
                .editText, .removeText {
                    margin-right: 10px;
                }
            }

        }
        .ant-card-body {
            padding: 0;
            height: 100px;
        }
        .ant-switch {
            position: relative;
            bottom: 25px;
            margin: 0 0.1rem;
        }

        .item-card, .msgShow {
            display: inline-block;
            width: 150px;
            line-height: 60px;
            height: 60px;
            border: 1px solid #dcdcdc;
            border-radius: 6px;
            position: relative;
            bottom: 23px;
            i {
                font-size: 24px;
                margin-left: 8px;
            }
        }
        .supplierPoolName {
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
             position: relative;
             bottom: 0;
             padding: 0 10px 0 40px;
            i {
                position: absolute;
                left: 0;
                top: 0;
            }
         }
        .msgShow {
            bottom: 58px;
        }
        .itemIcon {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 24px;
        }
        .itemCon {
            position: absolute;
            width: 100%;
            cursor: default;
            .itemConId_Name {
                height: 30px;
                width: 100%;
                line-height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .itemConId_ipt_Name {
                height: 30px;
                width: 110px;
                line-height: 30px;
                position: relative;
                top: 15px;
                border: 0;

            }
            .itemConId_ipt_Name:focus{
                outline: none;
            }
        }

        .item-card {
            padding-right: 10px;
        }

        .item-arrow {
            display: inline-block;
            width: 1rem;
            height: 60px;
            margin-top: 20px;
            background: url('../../../../public/images/jiantou.png') center center no-repeat;
        }
        .distribut, .remove {
            cursor: pointer;
            i {
                margin-right: 10px;
            }
        }
        .distribut {
           // color: #11cd6e;
           color:#666666;
        }
        .remove {
            //color: #ff3a3a;
            color:#666666;
        }
    }
    .distribution-item:last-child {
        margin-bottom: 20px;
    }
    .company-footer {
        .next {
            width: 150px;
            border-color: #067ad8;
            color: #067ad8;
        }
    }
    .makeusers {
        position: absolute;
        z-index: 1;
        background: #fff;
        width: 100%;
        height: 100%;
        .makeusers-steps {
            width: 100%;
            padding: 0 50px 20px;
            box-shadow: #f0eff0 2px 2px 2px;
        }

        .makeusersScroll {
            height: calc(100% - 135px);
            overflow: auto;
        }

        .makeusersScroll::-webkit-scrollbar
        {
            width: 8px;
            height: 8px;
        }

        .makeusersScroll::-webkit-scrollbar-thumb
        {
            background-color: #bdbdbd;
            border-radius: 4px;
        }

        .scrollarea-content {
            min-height: 100%;
        }
        .makeUserButtonBox{
            position: absolute;
            padding: 20px 0;
            width: 100%;
            border-top: 1px #e9e9e9 solid;
            Button {
                float: right;
                margin-right: 20px;
            }
        }
        .makeusers-body {
            padding-top: 30px;
            height: 100%;

            .user-group-name {
                margin-bottom: 20px;
                .usergroup-form-display {
                    display: inline-block;
                    .usergroup-name-ipt {
                        width: 335px;
                    }
                }
            }
            .ant-form-item-with-help{
                margin-bottom: 24px;
            }
            .screen {
                width: 80%;
                display: inline-block;
                height: calc(100% - 76px);
                .content {
                    position: relative;
                    .ant-radio-group {
                        display: block;
                        position: relative;

                    }
                    .mask {
                        width: 10px;
                        height: 16px;
                        position: absolute;
                        top: 0;
                        background: #fff;
                        z-index: 1;
                    }
                    .main {
                        border-left: 1px #e3e3e3 dashed;
                        padding-bottom: 22px;
                        position: relative;
                        .dimensionsOptions {
                            margin-bottom: 20px;
                            line-height: 26px;
                            .urlIptBox {
                                margin-bottom: 0;
                            }
                            .queueList-border {
                                display: inline-block;
                                width: 21px;
                                height: 1px;
                                border-bottom: 1px #e3e3e3 dashed;
                                position: relative;
                                top: -3px;
                            }
                            .ant-radio-button-wrapper {
                                color: #fff;
                            }
                            .icon {
                                color: #eb4f38;
                                cursor: pointer;
                            }
                            .ant-select-search__field__placeholder {
                                padding-left: 5px;
                            }
                            .provinceSelectStyle {
                                margin: 0 20px;
                            }
                            .selectIptStyle {
                                vertical-align: top;
                                .ant-select-selection {
                                    min-height: 32px;
                                    .ant-select-selection__rendered {
                                        line-height: 30px;
                                    }
                                }
                            }
                            .ant-select-selection--multiple {
                                min-height: 32px;
                                padding: 2px 0 2px 0;
                                max-height: 32px;
                                overflow: auto;
                                .ant-select-selection__rendered {
                                    line-height: 26px!important;
                                }
                            }
                            .ant-select-selection--multiple::-webkit-scrollbar
                            {
                                width: 8px;
                                height: 8px;
                            }

                            .ant-select-selection--multiple::-webkit-scrollbar-track
                            {
                                background-color: transparent;
                            }

                            .ant-select-selection--multiple::-webkit-scrollbar-thumb
                            {
                                background-color: #bdbdbd;
                                border-radius: 4px;
                            }
                        }
                        .add {
                            position: absolute;
                            bottom: -20px;
                            left: -10px;
                            color: #666;
                            cursor: pointer;
                            .icon {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                text-align: center;
                                line-height: 20px;
                                font-size: 12px;
                                border: 1px solid #666;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                        }
                    }
                    .footer {
                        position: inherit;
                        bottom: 46px;
                        width: 97%;
                        .ant-btn {
                            float: right;
                            margin-right: 12px;
                        }
                    }
                }
                .ant-radio-button-wrapper {
                    height: 29px;
                    width: 42px;
                    padding: 0;
                    text-align: center;
                    border: none;
                    color: #323231;
                    line-height: 29px;
                }
                .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
                    background: #5ab0f6;
                    color: #fff;
                }
            }
            .new-didtribute {
                border-left: 1px dashed #dae0e7;
                margin: 0 0 0 175px;
                .queueManage-card-foot {
                    position: relative;
                    top: 20px;
                    right: 4px;
                    span {
                        cursor: pointer;
                    }
                }
            }
            .makeusers-body-names {
                display: inline-block;
                vertical-align: top;
                width: 110px;
                text-align: right;
                margin-right: 15px;
            }
            .ant-radio-button-wrapper:not(:first-child)::before {
                background: transparent;
            }
        }
    }

    .distribute-type {
        position: absolute;
        background: url("../../../../public/images/distributeType/distributeTypebg.png") #fff center no-repeat;
        z-index: 1;
        width: 100%;
        height: 98%;
        .distributeTypeSteps {
            width: 100%;
            padding: 0 50px 20px;
            box-shadow: #f0eff0 2px 2px 2px;
        }
        .icon-style {
            font-size: 30px;
        }
        .distribute-intro {
            position: absolute;
            left: 90px;
            bottom: 75px;
            p {
                span {
                    margin-right: 20px;
                }
                span.words {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    line-height: 15px;
                    border-radius: 50%;
                    border: 1px solid #666;
                    margin-left: 35px;
                }
            }
        }
        .distribute-type-center {
            position: absolute;
            top: 40%;
            left: 28%;
            height: 45px;
            li {
                width: 45px;
                height: 45px;
                position: relative;
                border-radius: 6px;
                border: 1px solid #dcdcdc;
                margin-right: 90px;
                float: left;
                font-size: 12px;
                line-height: 45px;
                text-align: center;
                color: #a9b7b7;
                .distribute-icon {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;
                    color: #0177d7;
                    .distribute-process-btn {
                        width: 20px;
                        height: 45px;
                        position: absolute;
                        left: 45px;
                        top: -2px;
                        display: none;
                        .distribute-process-change, .distribute-process-remove {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border: 1px solid #dcdcdc;
                            border-left: 0;
                            border-radius: 0 6px 6px 0;
                            position: absolute;
                            left: -2px;
                            font-size: 12px;
                        }
                        .remove-process {
                            position: relative;
                            bottom: 13px;
                        }
                        .distribute-process-change {
                            top: 1px;
                        }
                        .distribute-process-remove {
                            top: 25px;
                        }
                    }
                }
                .distribute-icon:hover .distribute-process-btn {
                    display: block;
                    color: #a9b7b7;
                }
                .distribute-icon:hover .remove-process {
                    position: relative;
                    bottom: 13px;
                }

                .distribute-process {
                    font-size: 12px;
                    .distribute-process-top {
                        position: absolute;
                        top: -35px;
                        left: 20px;
                        .bg-top {
                            position: relative;
                            display: inline-block;
                            width: 135px;
                            height: 32px;
                            color: #34df75;
                            background: url('../../../../public/images/gar-1.png') no-repeat;
                            .word-top {
                                display: inline-block;
                                width: 148px;
                                position: relative;
                                bottom: 50px;
                                left: 0;
                                line-height: 20px;
                            }
                            .bg-top-circle {
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background: #34df75;
                                position: absolute;
                                right: 60px;
                                bottom: 23px;
                            }
                        }

                    }
                    .distribute-process-bottom {
                        position: absolute;
                        top: 20px;
                        right: -30px;
                        .bg-bot {
                            display: inline-block;
                            width: 52px;
                            height: 95px;
                            background: url('../../../../public/images/blue-jian1.png') no-repeat;
                        }

                        .word-bot {
                            display: inline-block;
                            position: relative;
                            bottom: 30px;
                            left: 72px;
                            width: 200px;
                            color: #067ad8;
                            text-align: left;
                            padding-left: 15px;
                            .bg-bot-circle {
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                top: 14px;
                                left: 0;
                                margin: 0 3px 0 0;
                                border-radius: 50%;
                                background: #067ad8;
                            }
                        }
                    }
                }
            }
            li:last-child {
                margin-right: 0;
            }
        }
        .distribute-type-body {
            position: relative;
            .distribute-type-item {


                position: absolute;
                top: 10px;
                left: 0;
                width: 65px;
                height: 345px;
                border: 1px solid #e9e9e9;
                border-left: 0;
                .changeRobotStyle{
                    position: absolute;
                    bottom: -52px;
                    margin-left: 10px;
                }
                li {
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    border-radius: 6px;
                    border: 1px solid #dcdcdc;
                    font-size: 12px;
                    line-height: 45px;
                    text-align: center;
                    color: #0177d7;
                    cursor: pointer;
                }
                .dragBox1 {
                    top: 10px;
                    left: 10px;
                }
                .dragBox2 {
                    top: 65px;
                    left: 10px;
                }
                .dragBox3 {
                    top: 120px;
                    left: 10px;
                }
                .dragBox4 {
                    top: 175px;
                    left: 10px;
                }
                .dragBox5 {
                    top: 230px;
                    left: 10px;
                }
                .dragBox6 {
                    top: 285px;
                    left: 10px;
                }
            }
            .distribute-title {
                text-align: center;
                padding-top: 30px;
                .clear-all {
                    float: right;
                    margin-right: 30px;
                }
                .distributeType{
                    .ant-form-item-with-help{
                        width: 335px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    .customer-group {
        position: absolute;
        z-index: 1;
        background: #fff;
        width: 100%;
        height: 100%;
        .customer-group-container {
            height: calc(100% - 140px);
            overflow: auto;
        }

        .customer-group-container::-webkit-scrollbar
        {
            width: 8px;
            height: 8px;
        }

        .customer-group-container::-webkit-scrollbar-thumb
        {
            background-color: #bdbdbd;
            border-radius: 4px;
        }

        .CustomerFooter{
            position: absolute;
            padding: 20px 0;
            width: 100%;
            height: 70px;
            border-top: 1px #e9e9e9 solid;
            Button {
                float: right;
                margin-right: 20px;
            }
        }
        .screen {
            padding: 20px 0 30px 80px;
            .content {
                margin-top: 10px;
                .ant-radio-group {
                    display: block;
                    position: relative;

                }
                .main {
                    margin-left: 42px;
                    border-left: 1px #e3e3e3 dashed;
                    padding-bottom: 22px;
                    padding-top: 20px;
                    position: relative;
                    .ant-form {
                        margin-bottom: 20px;
                        line-height: 26px;
                        .queueList-border {
                            display: inline-block;
                            width: 21px;
                            height: 1px;
                            border-bottom: 1px #e3e3e3 dashed;
                            position: relative;
                        }
                        .ant-radio-button-wrapper {
                            background: #5ab0f6;
                            color: #fff;
                        }
                        .icon {
                            color: #eb4f38;
                            cursor: pointer;
                        }
                        .ant-select-search__field__placeholder {
                            padding-left: 5px;
                        }
                    }
                    .add {
                        position: absolute;
                        bottom: -20px;
                        left: -10px;
                        color: #666;
                        .icon {
                            cursor: pointer;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            line-height: 20px;
                            font-size: 12px;
                            border: 1px solid #666;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                    }
                }
                .footer {
                    position: inherit;
                    bottom: 46px;
                    width: 97%;
                    .ant-btn {
                        float: right;
                        margin-right: 12px;
                    }
                }
            }
            .ant-radio-button-wrapper {
                height: 29px;
                width: 42px;
                padding: 0;
                text-align: center;
                border: none;
                background: #f2f2f1;
                color: #323231;
                line-height: 29px;
            }
            .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
                background: #5ab0f6;
                color: #fff;
            }
        }
    }

}
