.pendingDetailRecord{
    font-family: "Microsoft YaHei";
    height: 100%;
    .content{
        top: 95px;
        bottom: 0;
        height: calc(100% - 0.697rem);
        width: 100%;
        .left{
            float: left;
            padding: 0.07rem 0.14rem 0;
            width: calc(100% - 4rem);
            position: relative;
            border-right: 1px solid #ccc;
            height: 100%;
            .bottomContainer{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 0.14rem;
                .dealLeaveMessage{
                    padding: 10px 0;
                    font-size: 14px;
                    font-weight: bold;
                }
                .sendButtonContainer{
                    padding: 0.07rem 0 0.21rem 0;
                    text-align: right;
                    .sendButtonContainerTip{
                        display: inline-block;
                        height: 32px;
                        line-height: 32px;
                        margin-right: 6px;
                    }
                    button{
                        width: 74px;
                        height: 32px;
                    }
                     .sendPrompt{
                         float: right;
                         padding: 5px 10px;
                         color: red;
                     }
                    .sendButtonRight{
                        float: right;
                    }
                }
                .ant-row{
                    height: 100%;
                    margin-bottom: 0;
                    div{
                        height: 100%;
                    }
                    .ant-form-item-control{
                        position: relative;
                    }
                    .ant-form-explain{
                        display: inline;
                        position: absolute;
                        bottom: 0;
                        right: 12px;
                        height: 20px;
                        color: #ccc;
                    }
                    .has-error{
                        .ant-form-explain{
                            color: #f50;
                            top: inherit;
                        }
                    }
                }
                .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
                    margin-right: 9px;
                }
            }
        }
        .right {
            float: left;
            width: 4rem;
            height: 100%;
            .leaveMessageStyle{
                padding: 0.07rem 0  0.07rem 0.19rem;
                border-bottom: 1px solid #d9d9d9;
                font-weight: bold;
                font-size: 14px;
            }
            .leaveMessageContainer{
                padding: 0.07rem 0.14rem 0.07rem 0;
            }
        }
    }
}

.tabContainer > .ant-tabs-card{
    .ant-tabs-bar{
        font-weight: bold;
    }
}

.tabContainer > .ant-tabs-card > .ant-tabs-content {
    height: 200px;
    margin-top: -16px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    .ant-tabs-tabpane{
        height: 100%;
    }
    textarea{
        width: 100%;
        height: 100%;
        border: 0;
        resize: none;
        padding: 16px;
        outline: none;
        background: #fff;
    }
}

.tabContainer > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
}

@mixin clear-float{
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.content:after{
    @include clear-float;
}

.sendButtonContainer:after{
    @include clear-float;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active,.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover{
    color: #0077d6;
}
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    font-size: 12px;
    line-height: 21px;
}
