.filterWrap {
    min-height: 0.41rem;
    overflow: hidden;
    position: relative;
    .listSelectedWrap{
        height: 100%;
        width: calc(100% - 2.04rem); // 2.04rem 0.955rem
        padding: 0.05rem;
        float: left;
        .item{
            display: inline-block;
            width: 100%;
        }
        label{
            color: #343434;
            font-size: 13px;
            float: left;
            vertical-align: top;
            margin-top: 0.04rem;
        }
        .selectedBox{
            float: left;
            max-width: calc(100% - 96px);
            padding-top: 4px;
            .ant-tag{
                margin-bottom: 4px;
            }
        }
        .hideExtra {
            height: 28px;
            overflow-y: hidden;
        }
        a{
            float: right;
            vertical-align: top;
            margin-top: 6px;
            margin-right: 4px;
        }
    }
    span.filterLeft {
        margin-left: 30px;
        vertical-align: middle;
    }
    button {
        background-color: #057ad9;
    }
    i.icon-sousuo {
        font-size: 19px;
        position: absolute;
        right: 0.14rem;
        top: 0.07rem;
    }
    i.icon-sousuo:hover {
        cursor: pointer;
    }
    .exportBtn{
        position: absolute;
        top: 0.07rem;
        right: 0.44rem;
        width: 0.515rem;
        padding: 0 12px;
        .submitInput{
            position: absolute;
            left: 0;
            top: 0;
            outline: none;
            border: none;
            width: 0.515rem;
            height: 28px;
        }
    }
    .showContentBtn {
        position: absolute;
        top: 0.07rem;
        right: 1.08rem;
    }
}
